<template>
  <v-app id="keep">
    <navigation ref="reloadPendings" v-on:pendings="[]" v-on:showPendings="[]"></navigation>

    <v-content>
      <v-container fluid>
        <v-row>

          <v-col cols="12">
            <v-text-field label="Τίτλος" v-model="company.title" :rules="rules"  hide-details="auto"></v-text-field>
          </v-col>

          <v-col cols="12" height="400" class="mb-5">
            <v-card elevation="0">
              <quill-editor :content="company.description" v-model="company.description" :options="editorOption"/>
            </v-card>
          </v-col>

<!--          <v-col cols="12" >-->
<!--            <v-card elevation="0" class="mt-5">-->
<!--              Νέο Αρχείο-->
<!--              <div v-if="success != ''" class="alert alert-success">-->
<!--                {{success}}-->
<!--              </div>-->

<!--              <form @submit="formSubmit" enctype="multipart/form-data">-->
<!--                <input type="file" class="form-control" v-on:change="onChange">-->

<!--                <v-text-field   label="Όνομα Αρχείου" cols="3"type="text" class="form-control" v-model="file.name"></v-text-field>-->
<!--                <v-btn-->
<!--                    @click="formSubmit"-->
<!--                    depressed-->
<!--                    color="primary"-->
<!--                >-->
<!--                  Ανέβασμα Αρχείου-->
<!--                </v-btn>-->
<!--                &lt;!&ndash;              <button class="btn btn-primary btn-block">Upload</button>&ndash;&gt;-->
<!--              </form>-->

<!--            </v-card>-->
<!--          </v-col>-->

          <v-col cols="12" height="400">

<!--            <v-simple-table>-->
<!--              <template v-slot:default>-->
<!--                <thead>-->
<!--                <tr>-->
<!--                  <th class="text-left">-->
<!--                    Όνομα Αρχείου-->
<!--                  </th>-->
<!--                  <th class="text-left">-->
<!--                    Διαδρομή-->
<!--                  </th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr v-for="item in media" :key="item.name">-->
<!--                  <td>{{ item.name }}</td>-->
<!--                  <td>{{ item.url }}</td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--              </template>-->
<!--            </v-simple-table>-->

            <v-btn
                @click="update"
                depressed
                color="primary"
            >
              ΕΝΗΜΕΡΩΣΗ
            </v-btn>
          </v-col>

        </v-row>
      </v-container>
    </v-content>

  </v-app>
</template>

<script>


//@todo update and delete managers
import navigation from "../navigation";
import mixins from "../../mixins/permissionsCheck";
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

import { quillEditor } from 'vue-quill-editor'

export default {
  components: { quillEditor},

  mixins: [mixins],
  props: ['company'],
  data: () => ({
    file : {
      name: '',
      file: '',
      success: ''
    },
  }),
  methods: {
    update(){
      axios.put('/company/'+this.company.id, this.company)
          .then(function (response) {
            console.log('success');
          }.bind(this))
          .catch(function (err) {
            console.log(err)
          });
    }
  },
}
</script>

<style lang='scss'>

/*@import '~@fullcalendar/core/main.css';*/
/*@import '~@fullcalendar/daygrid/main.css';*/

</style>
