<template>
  <v-app id="keep">
    <navigation ref="reloadPendings" v-on:pendings="[]" v-on:showPendings="[]"></navigation>

    <v-content>
      <v-container fluid>
        <v-row>

          <v-col cols="12">
            <v-text-field label="Τίτλος" v-model="service.title" :rules="rules"  hide-details="auto"></v-text-field>
          </v-col>

          <v-col cols="12" height="400" class="mb-5">
            <v-card elevation="0">
              <quill-editor :content="service.description" v-model="service.description" :options="editorOption"/>
            </v-card>
          </v-col>

          <v-col cols="12" height="400" class="mb-5">
            <v-card elevation="0">
              <v-text-field label="Εξωτερικός Σύνδεσμος για ψηφιακή έκδωση" v-model="service.external_link"   hide-details="auto"></v-text-field>
            </v-card>
          </v-col>


          <v-col cols="12" >
            <v-card elevation="0" class="mt-5">
              Νέο Αρχείο
              <div v-if="success != ''" class="alert alert-success">
                {{success}}
              </div>

              <form @submit="formSubmit" enctype="multipart/form-data">
                <input type="file" class="form-control" v-on:change="onChange">


                <br/>
                <v-text-field   label="Όνομα Αρχείου" cols="3"type="text" class="form-control" v-model="file.name"></v-text-field>
                <span class="red text-white pa-1 mb-2" v-if="formMessage != null">{{formMessage}} <br/></span>
                <span class="red text-white pa-1 mb-2" v-if="formMessageFile != null">{{formMessageFile}} <br/></span>

                <v-btn
                    @click="formSubmit"
                    depressed
                    color="green"
                >
                  Ανέβασμα Αρχείου
                </v-btn>
                <!--              <button class="btn btn-primary btn-block">Upload</button>-->
              </form>

            </v-card>
          </v-col>

          <v-col cols="12" height="400">

            <v-simple-table elevation="2">
              <template v-slot:default>
                <thead>
                <tr>
                  <th class="text-left">Όνομα Αρχείου</th>
                  <th class="text-left">Διαδρομή</th>
                  <th class="text-left">Διαγραφή</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in media" :key="item.name">
                  <td>{{ item.name }}</td>
                  <td><a :href="item.fullUrl" target="_blank">Προβολή</a></td>
                  <td><v-btn @click="deleteMedia(item.id)">ΔΙΑΓΡΑΦΗ</v-btn></td>
                </tr>
                </tbody>
              </template>
            </v-simple-table>
            <hr>
            <v-btn right @click="updateService" depressed color="primary">ΕΝΗΜΕΡΩΣΗ</v-btn>
            <v-btn right @click="gotoServices" depressed color="#cccccc">ΕΠΙΣΤΡΟΦΗ</v-btn>
            <v-btn class="float-right" right @click="deleteService" depressed color="error">ΔΙΑΓΡΑΦΗ</v-btn>
          </v-col>

        </v-row>
      </v-container>
    </v-content>

  </v-app>
</template>

<script>


//@todo update and delete managers
import navigation from "../navigation";
import mixins from "../../mixins/permissionsCheck";
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

import { quillEditor } from 'vue-quill-editor'

export default {
  components: { quillEditor},

  mixins: [mixins],
  props: ['service'],
  data: () => ({
    file : {
      name: '',
      file: '',
      success: ''
    },
    media: {},
    formMessage: null,
    formMessageFile: null,
    editorOption: {
      // Some Quill options...
    },
  }),

  methods: {

    onChange(e) {
      this.file.file = e.target.files[0];
      console.log('e.target.files[0]');
      console.log(e.target.files[0]);
    },
    formSubmit(e) {
      e.preventDefault();
      let existingObj = this;

      const config = {
        headers: {
          'content-type': 'multipart/form-data'
        }
      }

      if(this.file.file == ''){
        this.formMessageFile = 'Παρακαλώ Επιλέξτε ένα αρχείο';
        return;
      }
      this.formMessageFile = null ;

      if(this.file.name == ''){
        this.formMessage = 'Παρακαλώ συμπληρώστε τον Τίτλο του αρχείου';
        return;
      }


      this.formMessage = null ;

      let data = new FormData();
      data.append('file', this.file.file);
      data.append('name', this.file.name);
      var self = this;
      axios.post('/upload/'+this.service.id, data, config)
          .then(function (res) {
            console.log('upload success');
            console.log(res);
            self.getMedia();
            self.form.success = res.data.data.success;
          }.bind(this))
          .catch(function (err) {
            console.log(err);
            existingObj.output = err;
          });
    },
    deleteMedia(id){
      axios.delete('/media/'+id+'/delete')
          .then(function (res) {
            this.getMedia();
          }.bind(this))
          .catch(function (err) {
            console.log(err);
          });
    },
    gotoServices(){
      window.location = '/services'
    },
    getMedia(){
      var self = this;
      axios.get('/get_media/'+this.service.id)
          .then(function (res) {
            console.log('res.data');
            console.log(res.data);
            self.media = res.data.data;
          }.bind(this))
          .catch(function (err) {
           console.log(err)
          });
    },

    updateService(){
      axios.put('/services/'+this.service.id, this.service)
          .then(function (response) {
            console.log('success');
          }.bind(this))
          .catch(function (err) {
           console.log(err)
          });
    },

    deleteService(){
      var result = confirm("Θέλετε να διαγραφεί το δικαιολογιτικό με τίτλο: ");
      if (result) {
        axios.delete('/service/'+this.service.id)
            .then(function (res) {
              window.location.replace("/services");
            }.bind(this))
            .catch(function (err) {
              console.log(err);
            });
      }
    }
  },
  mounted() {
    this.getMedia();
  },
}
</script>

<style lang='scss'>

/*@import '~@fullcalendar/core/main.css';*/
/*@import '~@fullcalendar/daygrid/main.css';*/

</style>
