<template>
  <v-app id="keep">
    <navigation ref="reloadPendings" v-on:pendings="[]" v-on:showPendings="[]"></navigation>

    <v-content>
      <v-container fluid>
        <v-row>

          <v-col cols="12">
            <v-text-field label="Τίτλος" v-model="service.title" :rules="rules"  hide-details="auto"></v-text-field>
          </v-col>

          <v-col cols="12" height="400" class="mb-5">
            <v-card elevation="0">
              <quill-editor :content="service.description" :options="editorOption"/>
            </v-card>
          </v-col>


          <v-col cols="12" height="400">



            <v-btn
                @click="createService"
                depressed
                color="primary"
            >
              Δημιουργια
            </v-btn>
          </v-col>

        </v-row>
      </v-container>
    </v-content>

  </v-app>
</template>

<script>


//@todo update and delete managers
import navigation from "../navigation";
import mixins from "../../mixins/permissionsCheck";
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

import { quillEditor } from 'vue-quill-editor'

export default {
  components: { quillEditor},

  mixins: [mixins],

  data: () => ({
    service : {
      title: '',
      description: '',
    },
  }),

  methods: {



    createService(){
      axios.post('/services', this.service)
          .then(function (response) {
            console.log('success');
            window.location = '/services/'+response.data.id
          }.bind(this))
          .catch(function (err) {
            console.log(err)
          });
    }

  },
  mounted() {
    this.getMedia();
  },
}
</script>

<style lang='scss'>

/*@import '~@fullcalendar/core/main.css';*/
/*@import '~@fullcalendar/daygrid/main.css';*/

</style>
