.row.apptitle.blue-backgroun {
    background: #145082;
    color: #fff;
}

.row.apptitle.blue-backgroun h1 {
    font-weight: 900;
}

.row.light-blue-background{
    background: #0c6ab236;
}

img.img-fluid.appimage {
    text-align: center;
}

img.img-fluid.appimage.apple {
    width: 235px;
    margin-left: 7px;
    margin-top: 16px;
}

img.img-fluid.appimage.google {
    width: 270px;
    margin-left: -11px;
}