<template>
    <div>
        <div id='start' class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div v-show="emailfError != null" class="alert alert-danger" role="alert">
                        {{ emailfError }}
                    </div>
                </div>
                <div class="col-md-12" v-if="step != 5">
                    <div class="text-center">
                        <div class="col-md-12">
                            <h2>Αίτημα Ραντεβού Υπηρεσίας</h2>
                        </div>
                        <div class="col-md-8 offset-md-2">
                            <p class="mt-3">
                                Η Εφαρμογή Ηλεκτρονικών Ραντεβού είναι μια υπηρεσία που κάνει την ζωή σου με το Δήμο πιο απλή.
                            </p>
                            <p>
                                Αναζητήστε παρακάτω την υπηρεσία για την οποία επιθυμείτε να κλείσετε ραντεβού, ενημερωθείτε για τα
                                απαραίτητα δικαιολογητικά που πρέπει να έχετε μαζί και επιλέξτε την ημέρα και ώρα που σας εξυπηρετεί.
                                Απλά με ένα κλικ.
                            </p>
                        </div>
                        <ul class="nav justify-content-center stepper">
                            <li class="nav-item">
                                <a class="nav-link" :class="(step == 1)?'active':null">
                                    <span class="badge badge-primary">1</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" :class="(step == 2)?'active':null">
                                    <span class="badge badge-primary">2</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" :class="(step == 3)?'active':null">
                                    <span class="badge badge-primary">3</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" :class="(step == 4)?'active':null">
                                    <span class="badge badge-primary">4</span>
                                </a>
                            </li>
                        </ul>
                        <i>Βήμα {{step}} απο 4</i>
                    </div>
                </div>
                <div class="col-md-4 " v-if="step == 1">
                    <h2>Επιλογή Υπηρεσίας</h2>
                </div>
                <div class="col-md-4 offset-md-4" v-if="step == 1">
                    <input type="text" class="form-control" v-model="searchQuery" @change="searchService" placeholder="Αναζήτηση: π.χ Δήλωση Γέννησης ">
                </div>
                <div class="col-md-12 panel" v-if="step == 1">
                    <div class="companies">
                        <div class="company mb-2" v-for="(s,c) in resultCompanies" :id="s.company_id">
                            <div class="list-group">
                                <a class="list-group-item list-group-item-action " style="font-size: 18px; font-weight: bold;" data-toggle="collapse" :href="'#s' + s.company_id" role="button" aria-expanded="false" :aria-controls="'#s'+s.company_id"> {{ s.company }}</a>
                            </div>
                            <div class="collapse multi-collapse" :class="(searchQuery !='')?'show':''" :id="'s'+s.company_id">
                                <div class="list-group">
                                    <span v-for="(d) in s.services" class="list-group-item list-group-item-action cursor">
                                        <a @click="selectedService = d ; step=2 ; company_id = s.company_id; title = d.title; description = d.title;  get_service_entities(); get_service_media();"> {{ d.title }} </a>
                                        <button class="btn ml-2 btn-green float-right" @click="selectedService = d ; step=2 ; company_id = s.company_id; title = d.title; description = d.title;  get_service_entities(); get_service_media();"> Κλείστε Ραντεβού </button>
                                        <a v-if="d.external_link != '' && d.external_link != null  " :href="d.external_link" target="_blank" class=" btn btn-blue ml-2 float-right"> Εκδώστε το ψηφιακά εδώ</a>
                                    </span>
                                </div>
                            </div>
                            <!--            <div  class="company" v-for="(s,c) in companies" :id="c.id">-->
                            <!--              <div v-if="s.services.length > 0">-->
                            <!--                <p class="lead">{{ s.company }}</p>-->
                            <!--                <ul class="services list-group" >-->
                            <!--                  <li class="list-group-item" v-for="(d) in s.services"  @click="selectedService = d ; step=2 ; company_id = s.company_id;  get_service_entities();">{{d.id}} {{ d.title }}</li>-->
                            <!--                </ul>-->
                            <!--              </div>-->
                        </div>
                    </div>
                </div>
                <div v-if='selectedService !=null && step == 2' class="col-md-12">
                    <div class="panel p-4">
                        <h3>{{selectedService.title}}</h3>
                        <p>Πρέπει να έχετε μαζί σας τα παρακάτω έντυπα και δικαιολογητικά συμπληρωμένα μαζί με την αστυνομική σας ταυτότητα. </p>
                        <div v-html="selectedService.description"></div>
                        <div v-html="selectedService.documents"></div>
                        <ul class="list-unstyled">
                            <li v-for="m in selectedServiceMedia">
                                Κατεβάστε το έντυπο: <a :href="m.original_url" target="_blank">{{m.name}}</a>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary float-left" @click="step=1">
                                    << Προηγούμενο</button> <button class="btn btn-primary float-right" @click="step=3; getEntityTimeTable();">Επόμενο >>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if='selectedService !=null && step==3' class="col-md-12 panel p-3">
                    <h2>{{selectedService.title}}</h2>
                    <h3 style="font-size: 18px;">Επιλογή Υπηρεσίας </h3>
                    <button v-for="e in entities" @click="entity = e; entity_id= e.id; company_id = e.company_id; setTimeTable();  selectTime = null; selectedDate = null; " type="button" class="btn ipiresiaBtn mr-2">
                        <!--{{selectTimes}}-->
                        <!--          <button v-for="e in entities" @click="entity = e; entity_id= e.id; setTimeTable()" type="button" class="btn ipiresiaBtn mr-2">-->
                        {{ e.title }}
                    </button>
                    <p class="small">Επιλέξτε την υπηρεσία που επιθυμείτε να εκδόσετε το πιστοποιητικό σας για να συνεχίσετε. </p>
                    <div class="row">
                        <div class="col-md-6">
                            <p v-if="entity_id" class="text-center"><b>Επιλογή Ημερομηνίας</b></p>
                            <datepicker v-if="entity_id" :open-date="openDate" v-model="selectedDate" :language="el" @selected="dateIsSelected" :inline="true" :highlighted="highlighted" :disabledDates="disabledDates">
                            </datepicker>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mt-2 mb-2" v-if="selectTimes.length > 0">
                                <p class="text-center"><b>Επιλογή Ώρας</b></p>
                                <span v-for="t in selectTimes">
                                    <button type="button" class="btn timebutton" @click="selectTime = t;" :class="(selectTime == t)?'active':null" v-if="!t.startsWith('x', 0)">
                                        {{ t }}
                                    </button>
                                    <span type="button" disabled class="btn timebutton danger" v-if="t.startsWith('x', 0)">
                                        {{ t.substring(1) }}
                                    </span>
                                </span>
                            </div>
                            <div class="row" v-if="selectedDate && entity_id && selectTime">
                                <div class="col-md-12 ">
                                    <h4>Τρόπος Συνάντησης</h4>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="setTypeOfAppointment" v-model="setTypeOfAppointment" value="1" class="custom-control-input">
                                        <label class="custom-control-label" for="setTypeOfAppointment">Διά ζώσης</label>
                                    </div>
                                    <!-- <div class="custom-control custom-radio">
                                        <input type="radio" id="setTypeOfAppointment2" v-model="setTypeOfAppointment" value="2" class="custom-control-input">
                                        <label class="custom-control-label" for="setTypeOfAppointment2">Μέ τηλεδιάσκεψη</label>
                                    </div> -->
                                    <!-- <p class="small"><i>*Εάν επιλέξετε τρόπο συνάντησης "με τηλεδιάσκεψη" στο τέλος της καταχώρησης θα σας αποσταλεί ένα link για να συνδεθείτε την ημέρα και ώρα που έχετε επιλέξει.</i></p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary" @click="step=2; selectedDate = null; selectTime = null; selectTimes=[];  selectedDate = null; entity_id=null;">
                                << Προηγούμενο</button> <button v-if="selectedDate && entity_id && selectTime" class="btn btn-primary float-right" @click="step=4"> Επόμενο >>
                            </button>
                        </div>
                    </div>
                </div>
                <div v-if='step==4' class="col-md-12 panel p-3">
                    <div class="text-left">
                        <h2 style="font-size: 28px;">Σύνοψη </h2>
                    </div>
                    <table class="table table-sm">
                        <tr>
                            <td>Όνομα</td>
                            <td><input type="text" v-model="auth.given_name" placeholder='' class="form-control"> </td>
                        </tr>
                        <tr>
                            <td>Επίθετο</td>
                            <td><input type="text" v-model="auth.family_name" placeholder='' class="form-control">   </td>
                        </tr>
                        <tr>
                            <td>Όνομα Πατέρα </td>
                            <td><input type="text" v-model="auth.father_name" placeholder='' class="form-control">   </td>
 
                        </tr>
                        <tr>
                            <td>ΑΦΜ </td>
                            <td><input type="text" v-model="auth.vat" placeholder='' class="form-control">   </td>
                        </tr>
                        <tr>
                            <td>Υπηρεσία</td>
                            <td> {{entity.title}} </td>
                        </tr>
                        <tr>
                            <td>Πιστοποιητικό</td>
                            <td> {{title}} </td>
                        </tr>
                        <tr>
                            <td>Ημ/νία:</td>
                            <td>{{selectedDateOfAppointment}}</td>
                        </tr>
                        <tr>
                            <td>Ώρα:</td>
                            <td>{{selectTime}}</td>
                        </tr>
                        <tr>
                            <td>Τρόπος Συνάντησης:</td>
                            <td>{{ (setTypeOfAppointment == 1)?'Διά ζώσης':'Μέ τηλεδιάσκεψη'}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <span v-if="setTypeOfAppointment == 1">
                                    Πρέπει να συμπληρώσετε το Τηλέφωνο Επικοινωνίας σας για να μπορέσετε να συνεχίσετε, και αν θέλετε και το e-mail σας.
                                </span>
                                <span v-else>
                                    Πρέπει να συμπληρώσετε το E-mail σας για να μπορέσετε να συνεχίσετε, και αν θέλετε και το Τηλέφωνο Επικοινωνίας σας.
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Τηλ. Επικοινωνίας:</td>
                            <td><input type="text" v-model="phone" placeholder="Καταχωρήστε τηλέφωνο επικοινωνίας." class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>Αποστολή με Email:</td>
                            <td><input type="text" v-model="email" placeholder='' class="form-control">
                                <small class="form-text text-muted">Συμπληρώστε το e-mail σας αν θέλετε να λάβετε έκεί το αποδεικτικο του ραντεβού σας.</small>
                            </td>
                        </tr>
                    </table>
                    <label for="comment">Σχόλια</label>
                    <textarea v-model="comment" class="form-control" id="comment" rows="3"></textarea>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary float-left" @click="step=3; selectedDate = null; selectTime = null;selectTimes=[]; entity_id= null;">
                                << Προηγούμενο</button> <button v-if="setTypeOfAppointment == 1" class="btn btn-success float-right" :disabled="selectTime!=null && phone.length > 9 ?false:true" @click="postAppointment">Καταχώρηση Διά ζώσης
                                    <i v-if="loadingAppointment" class="fas fa-spinner fa-pulse"></i>
                            </button>
                            <button v-else class="btn btn-success float-right" :disabled="(selectTime!=null && email.length > 9)?false:true" @click="postAppointment">Καταχώρηση
                                <i v-if="loadingAppointment" class="fas fa-spinner fa-pulse"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="step==5">
                <div class="col-md-12 text-center">
                    <h2>Σας Ευχαριστούμε</h2>
                    <p>Το ραντεβού έχει καταχωρηθεί επιτυχώς. <br /></p>
                </div>
                <div class="col-md-12">
                    <div class="text-right"><i @click="printDialog" class="fas fa-print"></i></div>
                    <table class="table table-sm">
                        <tr>
                            <td>Όνομα</td>
                            <td> {{auth.given_name}}</td>
                        </tr>
                        <tr>
                            <td>Επίθετο</td>
                            <td> {{auth.family_name}} </td>
                        </tr>
                        <tr>
                            <td>Όνομα Πατέρα </td>
                            <td> {{auth.father_name}} </td>
                        </tr>
                        <tr>
                            <td>ΑΦΜ </td>
                            <td> {{auth.vat}} </td>
                        </tr>
                        <tr>
                            <td>Υπηρεσία</td>
                            <td> {{entity.title}} </td>
                        </tr>
                        <tr>
                            <td>Πιστοποιητικό</td>
                            <td> {{title}} </td>
                        </tr>
                        <tr>
                            <td>Ημ/νία:</td>
                            <td>{{selectedDateOfAppointment}}</td>
                        </tr>
                        <tr>
                            <td>Ώρα:</td>
                            <td>{{selectTime}}</td>
                        </tr>
                        <tr>
                            <td>Τρόπος Συνάντησης:</td>
                            <td>{{ (setTypeOfAppointment == 1)?'Διά ζώσης':'Μέ τηλεδιάσκεψη. Αποθηκεύστε αυτό το λινκ για να συνδεθείτε την ώρα και ημέρα που έχετε επιλέξει: '+ chat_url}}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{email}}</td>
                        </tr>
                        <tr>
                            <td>Τηλ:</td>
                            <td>{{phone}}</td>
                        </tr>
                        <tr>
                            <td>Σχόλια</td>
                            <td>{{comment}}</td>
                        </tr>
                    </table>
                    <a href="#" class="btn btn-primary" @click="printDialog">ΕΚΤΥΠΩΣΗ</a>
                    <a href="/" class="btn btn-success float-right">ΝΕΑ ΚΑΤΑΧΩΡΗΣΗ</a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import datePicker from 'vue-bootstrap-datetimepicker';
import Datepicker from 'vuejs-datepicker';
import {
    en,
    el
} from 'vuejs-datepicker/dist/locale'
// Import date picker css
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
import VueTimepicker from "vue2-timepicker/src";
export default {
    props: ['auth'],
    components: {
        Datepicker,
        datePicker,
        VueTimepicker
    },
    data: () => ({
        user: null,
        e6: 1,
        en: en,
        el: el,
        stepFirstColum: 'col-md-4',
        setTypeOfAppointment: 1,
        createdAppointment: {},
        openDate: new Date(),
        chat_url: '',
        expertise: null,
        loadingAppointment: false,
        searchQuery: '',
        selectedDate: null,
        selectedDateOfAppointment: null,
        student_name: '',
        selectTime: null,
        start_date: new Date().toISOString().substr(0, 10),
        start_time: '12:30',
        title: null,
        comment: '',
        color: '#1976d2',
        company_id: null,
        entity_id: null,
        approved: false,
        email: '',
        phone: '',
        calendarActiveDays: [],
        highlighted: [],
        services: [],
        selectedService: null,
        selectedServiceMedia: [],
        emailfError: null,
        showLoginForm: false,
        stepTwo: false,
        step: 1,
        selectTimes: [],
        disabledDates: null,
        showCalendar: false,
        expertises: [],
        entities: [],
        entity: null,
        companies: [],
        date: new Date(),
        entityDays: [],
        userCompanies: null,
        options: {
            format: 'YYYY-MM-DD',
            useCurrent: false,
        }
    }),
    methods: {
        getUser() {
            axios.get('/userisonline')
                .then(function(response) {
                    this.user = response.data;
                    if (this.user != '') {
                        this.email = this.user.email;
                        this.signIn();
                    }
                }.bind(this))
                .catch(function(error) {
                    console.log(error);
                })
        },
        searchService() {
            console.log(this.searchQuery)
        },
        scrollTo(id) {
            var element = document.getElementById(id);
            element.scrollIntoView({
                behavior: "smooth",
                block: "start",
                inline: "start"
            });
        },
        signIn() {
            var self = this;
            var whitelisted = false;
            this.stepTwo = false;
            this.emailfError = null;
            // no user found
        },
        getServices() {
            this.showLoginForm = false;
            axios.get('/get_services')
                .then(function(response) {
                    this.services = response.data;
                }.bind(this))
                .catch(function(error) {
                    console.log(error);
                })
                .then(function() {});
        },
        get_service_media() {
            axios.get('/get_service_media/' + this.selectedService.id)
                .then(function(response) {
                    this.selectedServiceMedia = response.data;
                }.bind(this))
                .catch(function(error) {
                    console.log(error);
                })
                .then(function() {});
        },
        get_service_entities() {
            axios.get('/get_service_entities/' + this.selectedService.id)
                .then(function(response) {
                    this.entities = response.data;
                }.bind(this))
                .catch(function(error) {
                    console.log(error);
                })
                .then(function() {});
        },
        findUser() {
            this.showLoginForm = false;
            axios.post('/searchUser', {
                    email: this.email
                })
                .then(function(response) {
                    if (response.data.status && response.data.login == 'yes') {
                        window.location.href = "/login";
                    } else if (!response.data.status && response.data.login == 'no') {
                        window.location.href = "/register";
                    } else {
                        this.stepTwo = true;
                    }
                }.bind(this))
                .catch(function(error) {
                    console.log(error);
                })
                .then(function() {});
        },
        printDialog() {
            window.print();
        },
        dateIsSelected(date) {
            this.selectedDateOfAppointment = moment(date).format('DD-MM-YYYY');
            var ndate = moment(date);
            // var searchDate = moment(date).format('YYYY-MM-DD');
            var dayNumber = ndate.day();
            var closeHours = [];
            // getAppointmentsForThisDay
            var self = this;
            axios.post('/get-appointments-for-booking', {
                    'start_date': ndate.format('YYYY-MM-DD'),
                    'entity_id': self.entity.id,
                    'dayNumber': dayNumber
                })
                .then(function(response) {
                    self.selectTimes = response.data;
                })
                .catch(function(error) {
                    console.log(error);
                })
                .then(function() {
                    return;
                    var self = this;
                    for (var e = 0; e < self.entities.length; e++) {
                        if (this.entity_id == self.entity.id) {
                            for (var a = 0; a < this.companies.length; a++) {
                                console.log('this.companies[a]')
                                console.log(this.companies[a])
                                if (this.companies[a].company_id == this.company_id) {
                                    if (this.companies[a].timetable[this.entity_id].length > 0) {
                                        for (var d = 0; d < this.companies[a].timetable[this.entity_id].length; d++) {
                                            if (this.companies[a].timetable[this.entity_id][d].day == dayNumber) {
                                                let open_at = this.companies[a].timetable[this.entity_id][d].open_at;
                                                let close_to = this.companies[a].timetable[this.entity_id][d].close_to;
                                                var nndate = ndate.format('YYYY-MM-DD');
                                                var startDateTime = moment(nndate + ' ' + open_at)
                                                var endDateTime = moment(nndate + ' ' + close_to)
                                                console.log(open_at)
                                                console.log(close_to)
                                                self.selectTimes = [];
                                                if (!closeHours.includes(moment(startDateTime).format("HH:mm"))) {
                                                    self.selectTimes.push(moment(startDateTime).format("HH:mm"))
                                                }
                                                var count = 1;
                                                while (startDateTime < endDateTime && count < 50) {
                                                    //@todo add 10 to douration
                                                    startDateTime = startDateTime.add(15, 'minutes');
                                                    if (closeHours.length > 0 && closeHours.includes(moment(startDateTime).format("HH:mm"))) {} else {
                                                        self.selectTimes.push(moment(startDateTime).format("HH:mm"))
                                                    }
                                                    count++;
                                                }
                                            }
                                        }
                                    } else {
                                        //@hide calendar;
                                        this.showCalendar = false;
                                    }
                                }
                            }
                        }
                    }
                }.bind(this));
        },
        // get open days from entity timetable
        setTimeTable() {
            this.entityDays = [];
            console.log('this.entity.id');
            console.log(this.entity.id);
            for (var e = 0; e < this.entities.length; e++) {
                if (this.entity.id == this.entities[e].id) {
                    for (var a = 0; a < this.companies.length; a++) {
                        if (this.companies[a].company_id == this.company_id) {
                            if (this.companies[a].timetable[this.entity.id] != undefined && this.companies[a].timetable[this.entity.id].length > 0) {
                                console.log(this.companies[a].timetable[this.entity.id]);
                                for (var d = 0; d < this.companies[a].timetable[this.entity.id].length; d++) {
                                    this.entityDays.push(this.companies[a].timetable[this.entity.id][d].day)
                                }
                            } else {
                                console.log(this.companies);
                                //@hide calendar;
                                this.showCalendar = false;
                            }
                        }
                    }
                }
            }
            this.selectTimes = [];
            this.showCalendar = true;
            this.disabledDate();
        },
        setTime(startTime, endTime) {
            // let date = "2017-03-13";
            // let timeAndDate = moment(date + ' ' + startTime)
            // while (i < 10) {
            //     text += "The number is " + i;
            //     i++;
            // }
            //
            // timeAndDate.add(30, 'minutes').format('HH:mm');;
        },
        activeDays(date) {},
        highlightedDates() {
            var start = moment(), // Sept. 1st
                end = moment().add(1, 'months').endOf('month').format('YYYY-MM-DD'),
                days = this.entityDays; // selected day
            var result = [];
            for (var d = 0; d < days.length; d++) {
                var current = start.clone();
                while (current.day(7 + days[d]).isBefore(end)) {
                    result.push(current.clone());
                }
            }
            var activedays = result.map(m => m.format('YYYY-MM-DD'));
            this.hhighlighted = activedays;
            this.hhighlighted.push({
                includeDisabled: true
            });
            return {
                customPredictor: function(date) {
                    // return checkDate();
                    var cardate = new Date();
                    //close past dates
                    if (date.getTime() < cardate.getTime()) {
                        return true
                    }
                    if (!this.hhighlighted.includes(moment(date).format('YYYY-MM-DD'))) {
                        console.log()
                        return true;
                    }
                    // if (date.getDate() == 30 ) {
                    //     return true
                    // }
                }.bind(this)
            }
        },
        disabledDate() {
            var start = moment(), // Sept. 1st
                end = moment().add(1, 'months').endOf('month').format('YYYY-MM-DD'),
                days = this.entityDays; // selected day
            var result = [];
            for (var d = 0; d < days.length; d++) {
                var current = start.clone();
                console.log('days[d]')
                console.log(days[d])
                while (current.day(7 + days[d]).isBefore(end)) {
                    result.push(current.clone());
                }
            }
            var activedays = result.map(m => m.format('YYYY-MM-DD'));
            this.calendarActiveDays = activedays;
            return {
                customPredictor: function(date) {
                    // return checkDate();
                    var cardate = new Date();
                    //close past dates
                    if (date.getTime() < cardate.getTime()) {
                        return true
                    }
                    if (!this.calendarActiveDays.includes(moment(date).format('YYYY-MM-DD'))) {
                        console.log()
                        return true;
                    }
                    // if (date.getDate() == 30 ) {
                    //     return true
                    // }
                }.bind(this)
            }
        },
        getEntityTimeTable() {
            var self = this;
            axios.post('/expertise_json_by_company', {
                    'company_id': self.company_id,
                    'service_id': self.selectedService.id
                })
                .then(function(response) {
                    console.log(response.data)
                    self.entities = response.data;
                    self.selectedDate = null;
                })
                .catch(function(error) {
                    console.log(error);
                })
                .then(function() {});
        },
        getCompanies() {
            var self = this;
            axios.get('/get_companies_entities_services')
                .then(function(response) {
                    console.log('companies')
                    console.log(response.data)
                    self.companies = response.data;
                    console.log('companyWithServices');
                    console.log(response.data);
                })
                .catch(function(error) {
                    console.log(error);
                })
                .then(function() {});
        },
        postAppointment() {
            this.loadingAppointment = true;
            if (this.setTypeOfAppointment == 2) {
                this.chat_url = 'https://meet.jit.si/' + Math.random().toString(5).substr(2, 35);
            }
            var self = this;
            axios.post('/bookAppointment', {
                    given_name: self.auth.given_name,
                    family_name: self.auth.family_name,
                    father_name: self.auth.father_name,
                    mother_name: self.auth.mother_name,
                    vat: self.auth.vat,
                    phone_number: self.auth.phone_number,
                    id_card_number: self.auth.id_card_number,
                    birthday: self.auth.birthday,
                    start_date: moment(self.selectedDate).format('YYYY-MM-DD'),
                    start_time: self.selectTime,
                    title: self.title,
                    comment: self.comment,
                    color: self.color,
                    email: self.email,
                    company_id: self.company_id,
                    entity_id: self.entity_id,
                    approved: self.approved,
                    phone: self.phone,
                    chat_url: this.chat_url,
                })
                .then(function(response) {
                    console.log(response.data);
                    this.createdAppointment = response.data;
                    this.loadingAppointment = false;
                }.bind(this))
                .catch(function(error) {
                    console.log(error);
                })
                .then(function() {
                    self.step = 5;
                    // window.location = '/booking/success';
                });
        },
        //delete this
        getEntities() {
            console.log('create entity');
            var self = this;
            axios.get('/entities_json')
                .then(function(response) {
                    console.log(response.data)
                    self.entities = response.data;
                })
                .catch(function(error) {
                    console.log(error);
                })
                .then(function() {});
        },
        getExpertises() {
            console.log('create entity');
            var self = this;
            axios.get('/expertise_json_by_company')
                .then(function(response) {
                    console.log(response.data);
                    self.expertises = response.data;
                })
                .catch(function(error) {
                    console.log(error);
                })
                .then(function() {});
        },
    },
    computed: {
        resultCompanies: function() {
            if (this.searchQuery != '') {
                console.log('start search');
                let companies = this.companies // Object.keys(this.companies).map((key) => [Number(key), this.companies[key]]);
                var newCompanies = [];
                for (var a = 0; a < this.companies.length; a++) {
                    var insert = false;
                    var services = [];
                    for (var b = 0; b < this.companies[a].services.length; b++) {
                        if (this.companies[a].services[b].title.toLowerCase().includes(this.searchQuery.toLowerCase())) {
                            var insert = true;
                            services.push(this.companies[a].services[b]);
                            console.log(this.companies[a].services[b]);
                        }
                    }
                    if (insert) {
                        newCompanies.push({
                            'company': this.companies[a].company,
                            'company_id': this.companies[a].company_id,
                            'services': services,
                            'timetable': this.companies[a].timetable,
                        }, )
                    }
                    console.log(newCompanies)
                    console.log(this.companies)
                }
                return newCompanies;
            } else {
                return this.companies;
            }
        },
        entityList() {
            if (this.expertise == null || this.expertise == '') {
                return this.entities;
            }
            var items = this.entities;
            return this.entities.filter(item => {
                return item.expertise == this.expertise
            })
        },
    },
    created() {
        this.getCompanies();
    },
    mounted() {
        // var element = document.getElementById('start');
        // element.scrollIntoView({behavior: "smooth", block: "start", inline: "start"});
        // this.getEntities();
        // this.getExpertises();
        this.disabledDates = this.disabledDate();
        this.highlighted = this.highlightedDates();
        this.getServices();
        this.getUser();
    }
}
</script>
<style>
body {
    /*min-height: 1500px;*/
}

.vdp-datepicker__calendar {
    width: 100% !important;
}

span.cell.day {
    border: solid 0.1px #f9f9f9;
}

.vdp-datepicker__calendar {
    border: solid 1px #eee
}

span.cell.day.selected {
    color: #fff;
}

.vdp-datepicker__calendar {
    border: none !important;
}

/*steper*/
span.badge {
    border-radius: 50%;
}

ul.nav.justify-content-center.stepper li+li::before {
    width: 35px;
    height: 1px;
    position: absolute;
    background: #047bfe;
    top: 21px;
    content: '';
    left: -16px;
    z-index: -8;
}

ul.nav.justify-content-center.stepper li {
    position: relative;
}

a.nav-link span {
    background: #ccc;
    width: 18px;
}

a.nav-link.active span {
    background: #007bff;
}

button.btn.timebutton {
    background: #eee;
    border-radius: 0;
    margin: 5px;
    width: 68px;
    border: solid 1px #ddd;
}

.btn.ipiresiaBtn {
    background: #eee;
    border-radius: 0;
    margin: 5px;
    border: solid 1px #ddd;
}

button.btn.timebutton:hover, .btn.ipiresiaBtn:hover {
    background: #44bbdd;
    color: #fff;
}

.cursor {
    cursor: pointer;
}

button.btn.timebutton:focus, button.btn.timebutton:active, .btn.ipiresiaBtn {
    background: #44bcdc;
}

.panel {
    border: solid 1px #eee;
    box-shadow: 0 0 4px #bdbdbd;
}

span.btn.timebutton.danger {
    background: red;
    border-radius: 0;
}

button.btn.timebutton.danger {
    background: red;
    position: relative;
}

.btn.timebutton.danger {
    position: relative;
}

.btn.timebutton.danger:before {
    top: 5px;
    content: "";
    width: 2px;
    height: 25px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    transform: rotate(48deg);
    left: 50%;
    margin-right: auto;
}

.btn.timebutton.danger:after {
    top: 5px;
    content: "";
    width: 2px;
    height: 25px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    transform: rotate(-48deg);
    left: 50%;
    margin-right: auto;
}

span.btn.timebutton.danger {
    background: red;
    border-radius: 0;
    margin: 5px;
    width: 68px;
}

.vdp-datepicker__calendar .disabled {
    color: #848383;
    cursor: default;
}

span.cell.day {
    border: solid 0.1px #dedede;
}

.btn-blue {
    background: #145082;
    color: #fff;
}

.btn-green {
    background: #9AB021;
    color: #fff;
}

.btn-green:hover, .btn-blue:hover {
    color: #fff;
    box-shadow: 0 0 4px #222;
}
</style>