<template>
    <v-app id="keep">
        <navigation ref="reloadPendings" v-on:pendings="getPendings" v-on:showPendings="openPendings"></navigation>
        <!--Right Panel -->
        <v-navigation-drawer v-model="rightPanel" right app clipped width="500" style="">
            <v-app-bar-nav-icon @click="rightPanel = !rightPanel" />
            <span class="title ml-3 mr-5">Νέα&nbsp;<span class="font-weight-light">Καταχώρηση</span></span>
            <v-container>
                <v-row>
                    <v-col cols="12">
                        <v-form ref="form">
                            <v-row>
                                <v-col right>
                                    <v-switch v-model="appointment.approved" :label="`${(appointment.approved)?'Επιβεβαιωμένο':'Επιβεβαίωση Ραντεβού'}`"></v-switch>
                                </v-col>
                                <v-col cols="8">
                                    <v-select v-model="appointment.entity_id" @change="getAvailableTimesForEntityByDay()" :items="entities" item-text='title' item-value="id" label="Υπηρεσία" prepend-icon="house" required></v-select>
                                </v-col>
                                <v-col cols="4">
                                    <v-select v-model="appointment.duration" :value="appointment.duration" :items="[10,15,20,25,30,35,40,45,50,55,60]" label="Διάρκεια" prepend-icon="alarm" required></v-select>
                                </v-col>
                                <v-col cols="12">
                                    <v-select v-model="appointment.title" @change="getAvailableTimesForEntityByDay()" :items="services" item-text='title' item-value="title" label="Πιστοποιητικό" prepend-icon="house" required></v-select>
                                    <!--                   <v-text-field v-model="appointment.title" label="Πιστοποιητικό" prepend-icon="mdi-account" required></v-text-field>-->
                                </v-col>
                                <v-col cols="6">
                                    <v-text-field v-model="appointment.given_name" label="Όνομα" prepend-icon="mdi-account" required></v-text-field>
                                </v-col>
                                <v-col cols="6">
                                    <v-text-field v-model="appointment.family_name" label="Επίθετο" required></v-text-field>
                                </v-col>
                                <v-col cols="4">
                                    <v-menu v-model="menu2" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="290px">
                                        <template v-slot:activator="{ on }">
                                            <v-text-field v-model="appointment.start_date" label="Επιλογή Ημ/νιας Έναρξης" prepend-icon="event" readonly v-on="on"></v-text-field>
                                        </template>
                                        <v-date-picker v-model="appointment.start_date" @input="menu2 = false"></v-date-picker>
                                    </v-menu>
                                </v-col>
                                <v-col cols="4">
                                    <v-select v-model="appointment.start_time" :items="EntityAvailiableTimeByDay" label="Ώρα Έναρξης" prepend-icon="alarm" required></v-select>
                                </v-col>
                                <!--                <v-col cols="8">-->
                                <!--                  <v-menu v-model="menuend_date" :close-on-content-click="false" :nudge-right="40"-->
                                <!--                          transition="scale-transition" offset-y min-width="290px">-->
                                <!--                    <template v-slot:activator="{ on }">-->
                                <!--                      <v-text-field v-model="appointment.end_date" label="Επιλογή Ημ/νιας Λύξης" prepend-icon="event"-->
                                <!--                                    readonly v-on="on"></v-text-field>-->
                                <!--                    </template>-->
                                <!--                    <v-date-picker v-model="appointment.end_date" @input="menuend_date = false"></v-date-picker>-->
                                <!--                  </v-menu>-->
                                <!--                </v-col>-->
                                <v-col cols="4">
                                    <v-text-field v-model="appointment.end_time" disabled label="Ώρα Λήξης" prepend-icon="alarm" required></v-text-field>
                                </v-col>
                                <v-col cols="8">
                                    <v-textarea prepend-icon="insert_comment" rows="1" auto-grow name="input-2-2" label="Περιγραφή" v-model="appointment.comment" :value='appointment.comment'></v-textarea>
                                </v-col>
                                <v-col cols="4">
                                    <v-text-field elevation="0" v-model="appointment.color" :mask="colormask" hide-details class="ma-0 pa-0" solo>
                                        <template v-slot:append>
                                            <v-menu v-model="menu" top nudge-bottom="105" nudge-left="16" :close-on-content-click="false">
                                                <template v-slot:activator="{ on }">
                                                    <div :style="swatchStyle" v-on="on" />
                                                </template>
                                                <v-card>
                                                    <v-card-text class="pa-0">
                                                        <v-color-picker v-model="appointment.color" flat show-swatches />
                                                    </v-card-text>
                                                </v-card>
                                            </v-menu>
                                        </template>
                                    </v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-expansion-panels hover :flat="flat">
                                        <v-expansion-panel :elevation="0">
                                            <v-expansion-panel-header>Περισσότερα</v-expansion-panel-header>
                                            <v-expansion-panel-content>
                                                <v-col cols="12">
                                                    <v-text-field v-model="appointment.email" label="Email" prepend-icon="email"></v-text-field>
                                                </v-col>
                                                <v-col cols="12">
                                                    <v-text-field v-model="appointment.phone_number" label="Τηλέφωνο 1" prepend-icon="phone"></v-text-field>
                                                </v-col>
                                                <v-col cols="12">
                                                    <v-text-field v-model="appointment.phone" label="Τηλέφωνο 2" prepend-icon="phone"></v-text-field>
                                                </v-col>
                                                <v-col cols="12">
                                                    <v-text-field v-model="appointment.birthday" label="Ημ/νια Γέννησης"></v-text-field>
                                                </v-col>
                                                <v-col cols="12">
                                                    <v-text-field v-model="appointment.id_card_number" label="Αρ. Ταυτότητας"></v-text-field>
                                                </v-col>
                                            </v-expansion-panel-content>
                                        </v-expansion-panel>
                                    </v-expansion-panels>
                                </v-col>
                                <v-spacer></v-spacer>
                                <v-col cols="12" v-if="startRemoveProcess == true || appointment.admin_comment != null">
                                    <v-textarea prepend-icon="insert_comment" rows="1" auto-grow name="input-2-2" label="Σχόλιο Απόρριψης" v-model="appointment.admin_comment" :value='appointment.admin_comment'></v-textarea>
                                </v-col>
                            </v-row>
                            <v-overlay :value="overlayLoading">
                                <v-progress-circular indeterminate size="64"></v-progress-circular>
                            </v-overlay>
                            <div v-show="editAppointment == false">
                                <v-btn class="mr-4 mt-5" :loading="overlayLoading" :disabled="overlayLoading" color="success" @click="createAppointment">
                                    ΔΗΜΙΟΥΡΓΙΑ
                                </v-btn>
                            </div>
                            <div v-if="!startRemoveProcess">
                                <v-btn v-show='editAppointment == true ' :disabled="appointment.entity_id == null || appointment.entity_id == ''" color="primary" class="mr-4 mt-5" @click="updateAppointment">
                                    ΕΝΗΜΕΡΩΣΗ
                                </v-btn>
                                <v-btn v-show='editAppointment == true' color="primary" class="mr-4 mt-5" @click="updateAppointmentSendEmail">
                                    ΕΝΗΜΕΡΩΣΗ ΚΑΙ ΑΠΟΣΤΟΛΗ EMAIL
                                </v-btn>
                            </div>
                            <v-btn v-show='startRemoveProcess == true' :disabled="(appointment.admin_comment != null)?false:true" color="red" dark class="mr-4 mt-5" @click="removeAppointment">
                                ΟΛΟΚΛΗΡΩΣΗ ΑΠΟΡΡΙΨΗΣ
                            </v-btn>
                            <v-btn v-show='editAppointment == true && startRemoveProcess == false' color="red" dark class="mr-4 mt-5" @click="startRemoveProcess = true;">
                                ΑΠΟΡΡΙΨΗ
                            </v-btn>
                            <div right class="text-right float-right">
                                <v-btn right color="danger" class="mr-4 mt-5" @click="rightPanel = false; startRemoveProcess = false ">
                                    ΑΚΥΡΩΣΗ
                                </v-btn>
                            </div>
                        </v-form>
                        <br />
                        <br />
                        <a v-if="can('ViewAudits')" href="#" @click="showAudits = true; getAudits(); ">Ιστορικότητα Αλλαγών</a>
                    </v-col>
                </v-row>
            </v-container>
            <v-divider></v-divider>
        </v-navigation-drawer>
        <!--End Right Panel -->
        <v-dialog v-model="showAudits" fullscreen hide-overlay transition="dialog-bottom-transition">
            <template v-slot:activator="{ on, attrs }">
                <v-btn color="primary" dark v-bind="attrs" v-on="on">
                    Open Dialog
                </v-btn>
            </template>
            <v-card>
                <v-toolbar dark color="primary">
                    <v-btn icon dark @click="showAudits = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>Ιστορικότητα Αλλαγών</v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>
                <v-list three-line subheader>
                    <v-subheader>{{ appointment.title }}</v-subheader>
                    <v-simple-table>
                        <template v-slot:default>
                            <thead>
                                <tr>
                                    <th class="text-left"> Χρήστης</th>
                                    <th class="text-left"> Ενέργεια</th>
                                    <th class="text-left">Ημ/νια</th>
                                    <th class="text-left">Παλιές Τιμές</th>
                                    <th class="text-left">Νέες Τιμές</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in appointmentAudits" :key="item.id">
                                    <td>{{ item.user.email }}</td>
                                    <td>{{ item.event }}</td>
                                    <td>{{ item.created_at }}</td>
                                    <td>
                                        <ul>
                                            <li v-for="(v,i) in item.old_values"> {{ i }} - {{ v }}</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li v-for="(v,i) in item.new_values"> {{ i }} - {{ v }}</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </v-list>
                <v-divider></v-divider>
            </v-card>
        </v-dialog>
        <v-content v-if="showPendings" class="white">
            <v-container fluid class="white">
                <v-row>
                    <v-btn dark class="ma-2" color="blue darken-2" @click="showPendings = false">
                        ΕΠΙΣΤΡΟΦΗ ΣΤΟ ΗΜΕΡΟΛΟΓΙΟ
                    </v-btn>
                </v-row>
                <v-row color="purple">
                    <v-col cols="6">
                        <h2>Ραντεβού προς Έλεγχο</h2>
                        <v-list two-line>
                            <template v-for="(item, index) in pendings">
                                <v-list-item @click="editPending(pendings[index])">
                                    <v-list-item-content>
                                        <v-list-item-title>{{ item.start_date }}</v-list-item-title>
                                        <v-list-item-subtitle v-html="item.title"></v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                                <v-divider :key="index"></v-divider>
                            </template>
                        </v-list>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
        <v-content v-if="!showPendings" class="mt-2 pt-5">
            <v-container fluid class="grey lighten-4 ">
                <v-row>
                    <v-col cols="3">
                        <v-select v-if="userCompanies.length > 1" :menu-props="{ maxHeight: '400' }" :items="userCompanies" v-model="selectedCompanie" item-text='title' item-value="id" label="ΗΜΕΡΟΛΟΓΙΑ" solo @change="filterEntities"></v-select>
                        <!--            <v-btn dark left class='mr-2' color="blue darken-2" @click="setEntity(e)">-->
                        <!--              <span>ΣΥΝΟΠΤΙΚΑ</span>-->
                        <!--            </v-btn>-->
                    </v-col>
                    <v-col cols="9">
                        <v-btn :class="'mb-2'" small dark left v-for="e in entities" :key="e.id" :active-class="'red'" class='mr-2' :color="(selectedEntity.id != null && selectedEntity.id == e.id)?e.color: (selectedEntity.id != null)?'grey':e.color" :elevation="(selectedEntity.id != null && selectedEntity.id == e.id)?10: (selectedEntity.id != null)?0:4 " @click=" setEntity(e); ">
                            <span>{{ e.title }}</span>
                        </v-btn>
                    </v-col>
                </v-row>
                <v-row class="fill-height">
                    <v-col cols="12">
                        <v-sheet height="64">
                            <v-toolbar flat color="white">
                                <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
                                    ΣΗΜΕΡΑ
                                </v-btn>
                                <v-btn fab text small color="grey darken-2" @click="prev">
                                    <v-icon small>mdi-chevron-left</v-icon>
                                </v-btn>
                                <v-btn fab text small color="grey darken-2" @click="next">
                                    <v-icon small>mdi-chevron-right</v-icon>
                                </v-btn>
                                <v-toolbar-title>{{ title }}</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-menu bottom right>
                                    <template v-slot:activator="{ on }">
                                        <v-btn outlined color="grey darken-2" class="mr-5" v-on="on">
                                            <span>{{ typeToLabel[type] }}</span>
                                            <v-icon right>mdi-menu-down</v-icon>
                                        </v-btn>
                                    </template>
                                    <v-list>
                                        <v-list-item @click="type = 'month'">
                                            <v-list-item-title>Μήνας</v-list-item-title>
                                        </v-list-item>
                                        <v-list-item @click="type = 'day'">
                                            <v-list-item-title>Ημέρα</v-list-item-title>
                                        </v-list-item>
                                        <v-list-item @click="type = 'week'">
                                            <v-list-item-title>Εβδομάδα</v-list-item-title>
                                        </v-list-item>
                                    </v-list>
                                </v-menu>
                                <v-menu right>
                                    <template v-slot:activator="{ on }">
                                        <div class="my-2">
                                            <v-btn class="blue darken-2 " dark large icon @click="newAppointment" depressed small>
                                                <v-icon>mdi-plus</v-icon>
                                            </v-btn>
                                        </div>
                                    </template>
                                </v-menu>
                            </v-toolbar>
                        </v-sheet>
                        <v-sheet height="700">
                            <v-calendar locale="el" ref="calendar" v-model="focus" color="primary" :events="events" :first-interval="firstTime" :event-color="getEventColor" :now="today" :type="type" event-overlap-mode="stack" :event-overlap-threshold="30" @click:event="showEvent" @click:date="myDate" @change="updateRange">
                                <template v-slot:event="{ event }">
                                    {{event.start_time}} - {{event.end_time}} {{ event.user_name }} {{event.name}}
                                </template>
                            </v-calendar>
                            <v-menu v-model="selectedOpen" :close-on-content-click="false" :activator="selectedElement" offset-x>
                                <v-card color="grey lighten-4" min-width="350px" max-width="450px" flat>
                                    <v-toolbar :color="selectedEvent.color" dark>
                                        <v-btn icon v-on:click="editAppointmentEntry">
                                            <v-icon>mdi-pencil</v-icon>
                                        </v-btn>
                                        <v-toolbar-title v-html="selectedEvent.title"></v-toolbar-title>
                                        <v-spacer></v-spacer>
                                        <!--                    <v-btn icon>-->
                                        <!--                      <v-icon>mdi-heart</v-icon>-->
                                        <!--                    </v-btn>-->
                                        <!--                    <v-btn icon>-->
                                        <!--                      <v-icon>mdi-dots-vertical</v-icon>-->
                                        <!--                    </v-btn>-->
                                    </v-toolbar>
                                    <v-card-text>
                                        <span><b>{{ selectedEvent.start_date }} {{ selectedEvent.start_time }} - {{selectedEvent.end_date }} {{ selectedEvent.end_time }}</b></span><br />
                                        <span v-html="selectedEvent.given_name +' ' + selectedEvent.family_name"></span><br />
                                        <span v-html="'ΑΦΜ: '+selectedEvent.vat"></span><br />
                                        <span v-if="selectedEvent.email != null" v-html="'Email: '+selectedEvent.email"></span> <br />
                                        <span v-if="selectedEvent.phone != null" v-html="'Τηλ 1: '+selectedEvent.phone"></span><br />
                                        <span v-if="selectedEvent.phone_number != null" v-html="'Τηλ 2: '+selectedEvent.phone_number"></span><br />
                                        <span v-if="selectedEvent.comment != null" v-html="'Σχόλια: '+selectedEvent.comment"></span>
                                    </v-card-text>
                                    <v-card-actions>
                                        <!--                    <v-btn text color="secondary" @click="selectedOpen = false">-->
                                        <!--                      ΚΛΕΙΣΙΜΟ-->
                                        <!--                    </v-btn>-->
                                    </v-card-actions>
                                </v-card>
                            </v-menu>
                        </v-sheet>
                    </v-col>
                </v-row>
                <!--edit add event-->
            </v-container>
        </v-content>
    </v-app>
</template>
<script>
import navigation from "./navigation";
import VueTimepicker from 'vue2-timepicker/src'
import mixins from '../mixins/permissionsCheck'
// Vue.directive('can', function (el, binding) {
//   console.log('can');
//   console.log(el);
//   console.log(Laravel.permissions);
//   console.log(Laravel.permissions.indexOf(binding)  !== 1);
//   return 0;
//   return Laravel.permissions.indexOf(binding)  !== 1;
// })
export default {
    components: {
        navigation: navigation,
        VueTimepicker: VueTimepicker
    },
    props: ['company'],
    mixins: [mixins],
    data: () => ({
        overlayLoading: false,
        startRemoveProcess: false,
        company_id: null,
        viewSingleDayDate: null,
        disablebuttonID: null,
        colormask: '#XXXXXXXX',
        pendings: [],
        EntityAvailiableTimeByDay: [],
        user: {},
        firstTime: '07:00',
        showPendings: false,
        menu2: false,
        date: new Date().toISOString().substr(0, 10),
        items: [{
                href: '/calendar',
                icon: 'mdi-chart-bubble',
                text: 'Διαχείρηση'
            },
            {
                href: '#',
                icon: 'mdi-bicycle-basket',
                text: 'Ραντεβού'
            },
            // { href:'#', icon: 'mdi-account', text: 'Επισκέπτες' },
            // { href:'#', icon: 'mdi-wallet-giftcard', text: 'Στατιστικά' },
            // { href:'#', icon: 'mdi-shape', text: 'Σημεία Ραντεβού' },
            {
                href: '#',
                divider: true
            },
            // { href:'#', icon: 'lightbulb_outline', text: 'Προφίλ' },
            {
                href: '/company/managers',
                icon: 'mdi-account',
                text: 'Διαχειριστές'
            },
            {
                href: '#',
                divider: true
            },
            {
                href: '/company',
                icon: 'settings',
                text: 'Εταιρία'
            },
            {
                href: '#',
                icon: 'chat_bubble',
                text: 'Διαγραμμένα Ραντέβου'
            },
        ], //menu
        drawer: null,
        editAppointment: false,
        mask: '##:##',
        entityDialog: false,
        notifications: false,
        sound: true,
        widgets: false,
        menu: false,
        menu_end: false,
        menuend_date: false,
        on: false,
        showAudits: false,
        appointmentAudits: [],
        appointment: {
            'email': '',
            'phone': '',
            'start_date': '',
            'start_time': null,
            'title': 'test titles',
            'comment': 'lorem ipsum',
            'color': '#1976d2',
            'duration': 30,
            'user_id': 1,
            'entity_id': 1,
            'approved': false,
        },
        //update appointment
        current_appointment: [],
        rightPanel: false,
        picker: null,
        flat: true,
        sidepanel: true,
        //calendar variables
        typeToLabel: {
            month: 'ΜΗΝΑΣ',
            week: 'ΕΒΔΟΜΑΔΑ',
            day: 'ΗΜΕΡΑ',
        },
        focus: '',
        month: "",
        today: null,
        start: null,
        end: null,
        type: 'month',
        types: ['month', 'week', 'day', '4day'],
        mode: 'stack',
        modes: ['stack', 'column'],
        weekday: [0, 1, 2, 3, 4, 5, 6],
        weekdays: [{
                text: 'Mon - Sun',
                value: [1, 2, 3, 4, 5, 6, 0]
            },
            {
                text: 'Mon - Fri',
                value: [1, 2, 3, 4, 5]
            },
        ],
        value: '',
        entity: {
            'title': 'test',
            'description': 'test',
            'color': 'red',
            'duration': '60',
        },
        selectedEvent: {},
        selectedElement: null,
        selectedOpen: false,
        events: [],
        userCompanies: [],
        selectedCompanie: null,
        entities: [],
        services: [],
        selectedEntity: {
            title: '',
            color: 'blue',
            id: null
        },
        colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
        names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],
    }),
    methods: {
        getAvailableTimesForEntityByDay() {
            console.log('getAvailableTimesForEntityByDay')
            console.log(this.appointment)
            var closeHours = [];
            var self = this;
            axios.post('/get-appointments-for-day', {
                    'start_date': this.appointment.start_date,
                    'entity_id': this.appointment.entity_id,
                    'appointment_id': this.appointment.id,
                    duration: this.appointment.duration
                })
                .then(function(response) {
                    self.EntityAvailiableTimeByDay = response.data;
                    // self.appointment.start_time = response.data['start_time'][0];
                    var time = moment(self.appointment.start_time, 'HH:mm');
                    time.add(self.appointment.duration, 'minutes');
                    self.getServicesByEntity();
                })
                .catch(function(error) {
                    console.log(error);
                })
                .then(function() {}.bind(this));
        },
        filterEntities() {
            // selectedCompanie
            console.log('selected cp[ane')
            console.log(this.selectedCompanie)
            this.getEntities(this.selectedCompanie)
        },
        getUserCompanies() {
            var self = this;
            axios.get('/company/users/' + this.user.id + '/companies')
                .then(function(response) {
                    // handle success
                    self.userCompanies = response.data
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                });
        },
        getUser() {
            axios.get('/userisonline')
                .then(function(response) {
                    this.user = response.data;
                    this.getUserCompanies();
                }.bind(this))
                .catch(function(error) {
                    console.log(error);
                })
        },
        setEntity(entity = null) {
            if (entity == null) {
                this.selectedEntity = {
                    title: '',
                    color: 'blue',
                    id: null
                };
            } else {
                this.appointment.entity_id = this.entity.id;
                this.selectedEntity = entity
            }
            this.rightPanel = false;
            this.getEvents(this.start, this.end, entity)
        },
        openPendings() {
            this.editAppointment = true;
            this.showPendings = true;
        },
        getPendings(value) {
            this.pendings = value;
        },
        setToday() {
            this.focus = this.today
        },
        myDate(day) {
            this.type = 'day';
            this.viewSingleDayDate = day.date;
        },
        createEntity() {
            console.log('create entity');
            var self = this;
            axios.post('/entity/create', self.entity)
                .then(function(response) {
                    // handle success
                    console.log(response.data);
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                })
                .then(function() {
                    self.entityDialog = false;
                    self.getEntities()
                });
        },
        createAppointment() {
            this.editAppointment = false;
            this.overlayLoading = true;
            var self = this;
            // self.appointment.end_time
            axios.post('/appointment', self.appointment)
                .then(function(response) {
                    // handle success
                    if (response.data.error !== undefined) {
                        self.snackbar = true;
                        var alertMessage = response.data.error;
                        for (var a = 0; a < alertMessage.length; a++) {
                            self.$toastr('error', alertMessage[a], 'Βρέθηκε το παρακάτω πρόβλημα')
                            self.overlayLoading = false;
                        }
                    } else {
                        self.rightPanel = false;
                        self.overlayLoading = false;
                        self.$toastr('info', 'Δημιουργήθηκε Νεο Ραντεβού', response.data.title);
                        this.$forceUpdate();
                    }
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                })
                .then(function() {
                    self.getEvents(self.start, self.end);
                });
        },
        getAudits() {
            var self = this;
            //close right panel
            this.current_appointment = null;
            axios.post('/calendar/' + self.appointment.id + '/audits')
                .then(function(response) {
                    // handle success
                    console.log('audtis');
                    console.log(response.data);
                    self.appointmentAudits = response.data;
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                })
                .then(function() {});
        },
        getAppointment(data) {
            var self = this;
            //close right panel
            this.rightPanel = false;
            this.current_appointment = null;
            axios.get('/calendar/' + data.id)
                .then(function(response) {
                    self.appointment = response.data;
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                })
                .then(function() {
                    //open right panel
                });
        },
        removeAppointment() {
            this.overlayLoading = true;
            var self = this;
            axios.post('/appointment/' + self.appointment.id + '/delete', self.appointment)
                .then(function(response) {
                    // handle success
                    self.$toastr('info', 'Διαγραφή Ραντεβού');
                    self.rightPanel = false;
                    self.editAppointment = false;
                    self.getEvents(self.start, self.end);
                    self.$refs.reloadPendings.getPendingAppointments()
                    self.overlayLoading = false;
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                })
                .then(function() {});
        },
        updateAppointmentSendEmail() {
            this.overlayLoading = true;
            var self = this;
            axios.post('/appointmentWithEmail/' + self.appointment.id, self.appointment)
                .then(function(response) {
                    // handle success
                    self.rightPanel = false;
                    self.editAppointment = false;
                    self.getEvents(self.start, self.end);
                    self.$refs.reloadPendings.getPendingAppointments()
                    console.log(response.data);
                    self.overlayLoading = false;
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                })
                .then(function() {});
        },
        updateAppointment() {
            this.overlayLoading = true;
            var self = this;
            axios.post('/appointment/' + self.appointment.id, self.appointment)
                .then(function(response) {
                    // handle success
                    console.log(response.data);
                    self.overlayLoading = false;
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                })
                .then(function() {
                    self.rightPanel = false;
                    self.editAppointment = false;
                    self.getEvents(self.start, self.end);
                    self.$refs.reloadPendings.getPendingAppointments()
                });
        },
        editAppointmentEntry() {
            this.selectedOpen = false;
            this.rightPanel = true;
            this.editAppointment = true;
        },
        newAppointment() {
            this.rightPanel = true;
            var today = new Date();
            console.log('this.selectedEntity.id');
            console.log(this.selectedEntity.id);
            this.appointment = {
                'start_date': (this.viewSingleDayDate != null) ? this.viewSingleDayDate : new Date().toISOString().substr(0, 10),
                'end_date': (this.viewSingleDayDate != null) ? this.viewSingleDayDate : new Date().toISOString().substr(0, 10),
                'start_time': '',
                'email': '',
                'phone': '',
                'title': '',
                'comment': '',
                'color': '#1976d2',
                'duration': 30,
                'entity_id': (this.selectedEntity.id != undefined && this.selectedEntity.id != null) ? this.selectedEntity.id : null,
                'approved': false,
            };
            this.getAvailableTimesForEntityByDay();
            this.rightPanel = true;
        },
        getServicesByEntity() {
            var self = this;
            axios.get("/entity/" + self.appointment.entity_id + "/all_services")
                .then(function(response) {
                    self.services = response.data
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                });
        },
        getServices() {
            var self = this;
            axios.get('/get_all_services')
                .then(function(response) {
                    self.services = response.data
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                });
        },
        getEntities(companyId = null) {
            if (companyId != null) {
                var company = companyId
            } else if (this.company_id != null) {
                var company = this.company_id;
            }
            console.log('company')
            console.log(company)
            var self = this;
            axios.post('/entities/json_format', {
                    company_id: company
                })
                .then(function(response) {
                    // handle success
                    self.entities = response.data
                    self.getEvents(self.start, self.end);
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                });
        },
        getEvents(start, end, entity = null) {
            var self = this;
            if (this.selectedCompanie != null) {
                this.company_id = this.selectedCompanie;
            } else if (this.company.id !== undefined) {
                this.company_id = this.company.id;
            }
            if (entity != null) {
                entity = entity.id;
            } else if (this.selectedEntity.id != undefined) {
                entity = this.selectedEntity.id;
            }
            axios.post('/calendar/appointments_json', {
                    company_id: (self.company_id != null) ? self.company_id : (self.selectedCompanie) ? self.selectedCompanie : null,
                    start: start,
                    end: end,
                    entity: entity,
                })
                .then(function(response) {
                    // handle success
                    console.log(response.data);
                    self.events = response.data.data;
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                })
                .then(function() {
                    // always executed
                });
            // this.events = events
        },
        getEventColor(event) {
            return event.color
        },
        rnd(a, b) {
            return Math.floor((b - a + 1) * Math.random()) + a
        },
        formatDate(a, withTime) {
            return withTime ?
                `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()} ${a.getHours()}:${a.getMinutes()}` :
                `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()}`
        },
        nth(d) {
            return d > 3 && d < 21 ?
                'th' : ['th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th'][d % 10]
        },
        viewDay({
            date
        }) {
            this.focus = date;
            this.type = 'day'
        },
        prev() {
            this.$refs.calendar.prev()
        },
        next() {
            this.$refs.calendar.next()
        },
        editPending(event) {
            console.log('edit pending')
            console.log(event)
            this.appointment = event;
            this.editAppointmentEntry();
        },
        showEvent({
            nativeEvent,
            event
        }) {
            console.log('event')
            console.log(event)
            var self = this;
            var responseData = {};
            // this.getAvailableTimesForEntityByDay();
            //close right panel
            this.rightPanel = false;
            this.current_appointment = null;
            console.log('event id')
            console.log(event.id)
            axios.get('/calendar/get/' + event.id)
                .then(function(response) {
                    // handle success
                    console.log('response');
                    console.log(response);
                    responseData = response.data;
                    self.selectedEvent = response.data;
                    self.appointment = response.data;
                    self.getAvailableTimesForEntityByDay();
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                })
                .then(function() {
                    //open right panel
                    const open = () => {
                        console.log('before pop up')
                        console.log(responseData)
                        self.selectedElement = nativeEvent.target
                        setTimeout(() => self.selectedOpen = true, 50)
                    }
                    if (self.selectedOpen) {
                        self.selectedOpen = false
                        setTimeout(open, 50)
                    } else {
                        open()
                    }
                });
        },
        updateRange({
            start,
            end
        }) {
            console.log('update range')
            const min = new Date(`${start.date}T00:00:00`)
            const max = new Date(`${end.date}T23:59:59`)
            const days = (max.getTime() - min.getTime()) / 86400000
            const eventCount = this.rnd(days, days + 20)
            const events = [];
            this.start = start;
            this.end = end;
            this.getEvents(start, end);
        },
        locationHashChanged() {
            if (location.hash === '#ekremotites') {
                console.log("You're visiting a cool feature!");
            }
        },
    },
    watch: {
        'appointment.duration': function(newValue, oldValue) {
            var time = moment(this.appointment.start_time, 'HH:mm');
            time.add(newValue, 'minutes');
            this.appointment.end_time = time.format("HH:mm");
        },
        'appointment.start_time': function(newValue, oldValue) {
            console.log(newValue);
            var time = moment(newValue, 'HH:mm');
            time.add(this.appointment.duration, 'minutes');
            const startTime = this.appointment.start_time;
            const durationInMinutes = this.appointment.duration;
            const endTime = moment(startTime, 'HH:mm:ss').add(durationInMinutes, 'minutes').format('HH:mm');
            this.appointment.end_time = endTime;
        },
        'appointment.start_date': function(newValue, oldValue) {
            // var startDate = new Date(newValue); //dd-mm-YYYY
            // var endDate = new Date(this.appointment.end_date);
            // if(startDate >= endDate){
            this.appointment.end_date = newValue;
            // }
            if (this.rightPanel == true) {
                this.getAvailableTimesForEntityByDay();
            }
        },
        'rightPanel': function(newValue) {
            // if(newValue == true){
            //   this.getAvailableTimesForEntityByDay();
            // }
        },
        'appointment.end_date': function(newValue, oldValue) {
            var endDate = new Date(newValue); //dd-mm-YYYY
            var startDate = new Date(this.appointment.start_date);
            if (endDate > startDate || endDate < startDate) {
                this.appointment.end_date = this.appointment.start_date;
            }
        },
    },
    computed: {
        approvedMessage() {
            if (this.appointment.approved) {
                return 'Έχει εγκριθεί';
            }
            return 'Μη Εγκεκριμένο';
        },
        swatchStyle() {
            const {
                color,
                menu
            } = this
            return {
                backgroundColor: this.appointment.color,
                cursor: 'pointer',
                height: '30px',
                width: '30px',
                borderRadius: menu ? '50%' : '4px',
                transition: 'border-radius 200ms ease-in-out'
            }
        },
        title() {
            const {
                start,
                end
            } = this;
            if (!start || !end) {
                return 'Nothing'
            }
            const startMonth = this.monthFormatter(start)
            const endMonth = this.monthFormatter(end)
            const suffixMonth = startMonth === endMonth ? '' : endMonth
            const startYear = start.year
            const endYear = end.year
            const suffixYear = startYear === endYear ? '' : endYear
            const startDay = start.day + this.nth(start.day)
            const endDay = end.day + this.nth(end.day)
            switch (this.type) {
                case 'month':
                    return `${startMonth} ${startYear}`
                case 'week':
                case '4day':
                    return `${startMonth} ${startDay} ${startYear} - ${suffixMonth} ${endDay} ${suffixYear}`
                case 'day':
                    return `${startMonth} ${startDay} ${startYear}`
            }
            return ''
        },
        monthFormatter() {
            return this.$refs.calendar.getFormatter({
                timeZone: 'UTC',
                month: 'long',
            })
        },
    },
    mounted() {
        this.getUser();
        this.getEntities();
        this.getServices();
        window.onhashchange = this.locationHashChanged();
    },
}
</script>
<style>
span.vue__time-picker.time-picker input {
    border: none;
    border-bottom: solid 1px #999;
    width: 100%;
    margin-top: -1px;
}

span.vue__time-picker.time-picker {
    width: 100%;
}

.labelSmall {
    font-size: 12px;
}

/*@import '~@fullcalendar/core/main.css';*/
/*@import '~@fullcalendar/daygrid/main.css';*/
.mb-2 {
    margin-bottom: 2px;
}
</style>