<template>
    <v-app id="keep">
        <navigation ref="reloadPendings" v-on:pendings="[]" v-on:showPendings="[]"></navigation>
        <v-content>
            <v-container fluid>
                <v-row>
                    <v-col cols="12">
                        <v-card class="mx-auto" min-height="380px">
                            <v-card-title dark class=" text-light">
                                Κτίρια
                                <v-btn small absolute top right color="primary" @click.stop="newCompanyDialog = true">
                                    ΝΕΟ ΚΤΙΡΙΟ
                                </v-btn>
                            </v-card-title>
                            <v-card-text>
                                <v-simple-table>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th class="text-left">Όνομα</th>
                                                <th class="text-left">Uri</th>
                                                <th class="text-left">Επεξεργασία</th>
                                                <th class="text-left">Προβολή</th>
                                                <th class="text-left">Διαγραφή </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in companies" :key="item.id">
                                                <td>{{ item.title }}</td>
                                                <td>{{ item.name }}</td>
                                                <td>
                                                    <v-dialog elevation="0" class="mr-3" v-model="entityDialog" persistent max-width="600px">
                                                        <template v-slot:activator="{ on }">
                                                            <v-btn elevation='0' v-on="on" @click="editcompany(item)">
                                                                <v-icon>
                                                                    mdi-pencil
                                                                </v-icon>
                                                            </v-btn>
                                                        </template>
                                                        <v-card>
                                                            <v-card-title>
                                                                <span class="headline">Ενημέρωση Χώρος</span>
                                                            </v-card-title>
                                                            <v-card-actions>
                                                                <v-spacer></v-spacer>
                                                                <!--                                                        <v-btn color="blue darken-1" text @click="entityDialog = false">Ακύρωση</v-btn>-->
                                                                <!--                                                        <v-btn color="blue darken-1" text @click="updateEntity">Ενημέρωση</v-btn>-->
                                                            </v-card-actions>
                                                        </v-card>
                                                    </v-dialog>
                                                </td>
                                                <td>
                                                    <v-btn icon color="light-blue" @click="showCalendar(item)">
                                                        <v-icon dark>event</v-icon>
                                                    </v-btn>
                                                </td>
                                                <td>
                                                    <v-btn icon color="light-blue" @click="deleteCompany(item)">
                                                        <v-icon dark>mdi-delete</v-icon>
                                                    </v-btn>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-dialog v-model="newCompanyDialog" max-width="400">
                        <v-card>
                            <v-card-title class="headline">
                                Νέο Κτίριο
                            </v-card-title>
                            <v-card-text>
                                <v-form>
                                    <span class="red" v-if="newCompanyError != null">{{newCompanyError}}</span>
                                    <v-text-field label="Uri" v-model="newCompanyName" required type="text" />
                                    <v-text-field label="Τίτλος Υπηρεσίας" v-model="newCompanyTitle" type="text" />
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="green darken-1" text @click="newCompanyDialog = false">Άκυρο</v-btn>
                                <v-btn color="green darken-1" text @click="createCompany()">ΔΗΜΙΟΥΡΓΙΑ</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <!--          <v-col cols="6">-->
                    <!--            <v-card>-->
                    <!--              <v-card-text>-->
                    <!--                <span color="blue" dark class="headline">Νέο Υπηρεσία</span>-->
                    <!--                <v-form>-->
                    <!--                  <v-text-field label="Uri" v-model="newCompanyName" type="text"/>-->
                    <!--                  <v-text-field label="Τίτλος Υπηρεσίας" v-model="newCompanyTitle" type="text"/>-->
                    <!--                </v-form>-->
                    <!--              </v-card-text>-->
                    <!--              <v-card-actions>-->
                    <!--                <v-spacer></v-spacer>-->
                    <!--                <v-btn color="blue darken-1" text @click="createCompany">ΔΗΜΙΟΥΡΓΙΑ</v-btn>-->
                    <!--              </v-card-actions>-->
                    <!--            </v-card>-->
                    <!--          </v-col>-->
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>
<script>
//@todo update and delete managers
import navigation from "./navigation";
export default {
    data: () => ({
        companies: [],
        newCompanyName: null,
        newCompanyTitle: null,
        newCompanyDialog: false,
        newCompanyError: null,
    }),
    methods: {
        getCompanies() {
            var self = this;
            axios.get('/companies_json')
                .then(function(response) {
                    // handle success
                    console.log(response.data);
                    self.companies = response.data
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                });
        },
        createCompany() {
            var self = this;
            if (self.newCompanyName == null || self.newCompanyName == '' || self.newCompanyTitle == null || self.newCompanyTitle == '') {
                self.newCompanyError = 'Παρακαλώ συμπληρώστε όλα τα στοιχεία της φόρμας.';
                return;
            }
            axios.post('/company', {
                    name: self.newCompanyName,
                    title: self.newCompanyTitle
                })
                .then(function(response) {
                    // handle success
                    console.log(response.data);
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                })
                .then(function() {
                    self.entityDialog = false;
                    self.getCompanies();
                    self.newCompanyDialog = false;
                    self.newCompanyError = null;
                });
        },
        showCalendar(item) {
            window.location = '/show/' + item.name;
        },
        editcompany(company) {
            window.location = '/company/' + company.name;
        },
        deleteCompany(company) {
            axios.post('/company/' + company.id + "/delete")
                .then(function(response) {
                    // handle success
                    this.getCompanies();
                    console.log(response.data);
                }.bind(this))
                .catch(function(error) {
                    // handle error
                    console.log(error);
                })
                .then(function() {
                    // window.location = '/companies'
                });
        }
    },
    computed: {},
    mounted() {
        this.getCompanies();
    },
}
</script>
<style lang='scss'>
/*@import '~@fullcalendar/core/main.css';*/
/*@import '~@fullcalendar/daygrid/main.css';*/
</style>