<template>
    <v-app id="keep">
        <navigation ref="reloadPendings" v-on:pendings="[]" v-on:showPendings="[]"></navigation>
        <v-content>
            <v-row >
                <v-col cols="12">
                    <h2>{{company.title}}</h2>
                </v-col>
                <v-col cols="6">
                    <v-card class="mx-auto" min-height="380px">
                        <v-card-title dark class="blue ">
                            Υπηρεσίες
                        </v-card-title>
                        <v-card-text>

                            <v-simple-table>
                                <template v-slot:default>
                                    <thead>
                                    <tr>
                                        <th class="text-left">Όνομα</th>
                                        <th class="text-left">Ιδιότητα</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in entities" :key="item.id">
                                            <td>{{ item.title }}</td>
                                            <td>{{ item.expertise }}</td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-content>
    </v-app>
</template>

<script>


//@todo update and delete managers
import navigation from "./navigation";

export default {
    props: ['company'],
    data: () => ({
        companies: [],
        newCompanyName: null,
        newCompanyTitle: null,
        entities: [],
    }),
    methods: {
        getEntities(){
            var self = this;
            axios.post('/companies_entities_json', {'company_id':self.company.id})
                .then(function (response) {
                    // handle success
                    console.log('entitieues')
                    console.log(response.data)
                    self.entities = response.data
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .then(function () {
                    // always executed
                });
        },

    },

    computed: {


    },
    mounted () {
        this.getEntities();

    },
}
</script>

<style lang='scss'>

/*@import '~@fullcalendar/core/main.css';*/
/*@import '~@fullcalendar/daygrid/main.css';*/

</style>
