<template>
    <v-app id="keep">
        <navigation ref="reloadPendings" v-on:pendings="[]" v-on:showPendings="[]"></navigation>
        <v-content>
            <v-container fluid>
                <v-row>
                    <v-col v-if='!updateEntityForm && !createEntityForm' cols="12">
                        <v-card class="mx-auto" min-height="380px">
                            <v-card-title dark class=" ">
                                Υπηρεσίες
                            </v-card-title>
                            <v-card-text>
                                <v-btn small absolute top right color="primary" @click.stop="createEntityForm = true">
                                    ΝΕΑ ΥΠΗΡΕΣΙΑ
                                </v-btn>
                                <v-simple-table dense>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th class="text-left">Όνομα</th>
                                                <th class="text-left">Ιδιότητα</th>
                                                <th class="text-left">Κτίριο</th>
                                                <!--                      <th class="text-left">Ical</th>-->
                                                <th class="text-left">Επεξεργασία</th>
                                                <th class="text-left">Διαγραφή</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in entities" :key="item.id">
                                                <td>{{ item.title }}</td>
                                                <td>{{ item.expertise }}</td>
                                                <td>{{ (item.company && item.company.title != undefined) ? item.company.title : '-' }}</td>
                                                <!--                      <td>-->
                                                <!--                        <v-btn @click="copyIcalKey(item.icalKey)" color="primary" fab small dark>-->
                                                <!--                          <v-icon>mdi-calendar</v-icon>-->
                                                <!--                        </v-btn>-->
                                                <!--                      </td>-->
                                                <td>
                                                    <v-btn elevation='0' color="light-blue" @click="setEntityForUpdate = item; updateEntityForm = true; loadEntityServices(); loadTimeTable(item.id)" dark v-on="on">ΕΠΕΞΕΡΓΑΣΙΑ </v-btn>
                                                </td>
                                                <td>
                                                    <v-icon right @click="deleteEntity(item.id)">mdi-delete</v-icon>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col v-if="updateEntityForm" cols="12">
                        <v-card elevation='2' class="pa-5">
                            <v-btn small absolute top right color="error" @click.stop="updateEntityForm = false">x</v-btn>
                            <v-card-title>
                                <span class="headline">Ενημέρωση Υπηρεσίας</span>
                            </v-card-title>
                            <v-row>
                                <v-col cols="12" sm="4" md="6">
                                    <v-select v-model="setEntityForUpdate.company_id" :items="companies" item-text='title' item-value="id" label="Κτίριο" required></v-select>
                                </v-col>
                                <v-col cols="12" sm="4" md="6">
                                    <v-text-field label='Τίτλος' v-model="setEntityForUpdate.title" required></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="4" md="6">
                                    <v-text-field label='Δ/νση' v-model="setEntityForUpdate.address" required></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="4" md="3">
                                    <v-select v-model="setEntityForUpdate.duration" :items="['10','15','20','25','30','35','40','45','50','55','60', '65', '70', '75', '80', '85','90','95','100', '105', '110', '115', '120']" label="Διάρκεια" hint="Επιλέξτε τη διάρκεια που θέλετε να έχουν οι καταχωρήσεις για αυτόν τον χώρο, μπορεί να αλλαχθεί κατά τη δημιουργία του Ραντεβού." persistent-hint required></v-select>
                                </v-col>
                                <v-col cols="12" sm="4" md="3">
                                    <v-select v-model="setEntityForUpdate.gap_duration" :items="['', '5','10','15','20','25','30','35','40','45','50','55','60', '65', '70', '75', '80', '85','90','95','100', '105', '110', '115', '120']" label="Διάλειμα" hint="Επιλέξτε τη διάρκεια του κενούπου θα υπάρχει μεταξύ των ραντεβού." persistent-hint required></v-select>
                                </v-col>
                                <v-col cols="8">
                                    <v-textarea rows="1" auto-grow name="input-2-2" label="Περιγραφή" v-model="setEntityForUpdate.description" :item='entity.description'></v-textarea>
                                </v-col>
                                <!--update form -->
                                <v-col cols="4">
                                    <v-text-field elevation="0" v-model="setEntityForUpdate.color" v-mask="colormask" hide-details class="ma-0 pa-0" solo>
                                        <template v-slot:append>
                                            <v-menu v-model="menuUpdate" top nudge-bottom="105" nudge-left="16" :close-on-content-click="false">
                                                <template v-slot:activator="{ on }">
                                                    <div :style="swatchStyleUpdate" v-on="on" />
                                                </template>
                                                <v-card>
                                                    <v-card-text class="pa-0">
                                                        <v-color-picker v-model="setEntityForUpdate.color" flat show-swatches />
                                                    </v-card-text>
                                                </v-card>
                                            </v-menu>
                                        </template>
                                    </v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="12">
                                    <v-text-field label='Ιδιότητα' v-model="setEntityForUpdate.expertise" required></v-text-field>
                                </v-col>
                                <v-col cols="10">
                                    <v-btn @click="showTimeTable = !showTimeTable">ΔΙΑΧΕΙΡΙΣΗ ΩΡΩΝ </v-btn>
                                    <div v-if="showTimeTable">
                                        <timetable :form="timetable" v-on:updatedTimetableValues="updatedTimetableValues"></timetable>
                                    </div>
                                </v-col>
                                <v-col cols="12">
                                    <v-card>
                                        <v-data-table height="400" v-model="selectedRows" :headers="headers" :value="selectedServices" :items="services" :search="search" item-key="id" class="elevation-1">
                                            <template v-slot:body="{ items }">
                                                <tbody>
                                                    <tr v-for="item in services" :key="item.id">
                                                        <td>
                                                            <v-checkbox v-model="selectedServices" :value="item.id" style="margin:0px;padding:0px" hide-details />
                                                        </td>
                                                        <td>{{ item.title }}</td>
                                                    </tr>
                                                </tbody>
                                            </template>
                                        </v-data-table>
                                    </v-card>
                                    <v-btn class="mt-2" color="primary" @click="updateEntity">ΕΝΗΜΕΡΩΣΗ</v-btn>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                    <v-col cols="12" v-if="createEntityForm && can('CreateEntity')">
                        <v-card>
                            <v-card-title>
                                <span color="blue" dark class="headline">Δημιουργία Υπηρεσίας</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="12" md="12">
                                            <v-select v-model="selectedCompany" :items="companies" item-text='title' item-value="id" label="Κτίριο" required></v-select>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field label='Ονομα Υπηρεσίας' v-model="entity.title" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field label='Δ/νση' v-model="entity.address" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-select v-model="entity.duration" :items="[10,15,20,25,30,35,40,45,50,55,60, 65, 70, 75, 80, 85,90,95,100, 105, 110, 115, 120]" label="Διάρκεια" hint="Επιλέξτε τη διάρκεια που θέλετε να έχουν οι καταχωρήσεις για αυτόν τον χώρο, μπορείτε να αλλαχθεί κατά τη δημιουργία του Ραντεβού." persistent-hint required></v-select>
                                        </v-col>
                                        <v-col cols="8">
                                            <v-textarea rows="1" auto-grow name="input-2-2" label="Περιγραφή" v-model="entity.description" :value='entity.description'></v-textarea>
                                        </v-col>
                                        <v-col cols="4">
                                            <v-text-field elevation="0" v-model="entity.color" v-mask="colormask" hide-details class="ma-0 pa-0" solo>
                                                <template v-slot:append>
                                                    <v-menu v-model="menu" top nudge-bottom="105" nudge-left="16" :close-on-content-click="false">
                                                        <template v-slot:activator="{ on }">
                                                            <div :style="swatchStyle" v-on="on" />
                                                        </template>
                                                        <v-card>
                                                            <v-card-text class="pa-0">
                                                                <v-color-picker v-model="entity.color" flat show-swatches />
                                                            </v-card-text>
                                                        </v-card>
                                                    </v-menu>
                                                </template>
                                            </v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                                <small>*indicates required field</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn error color="blue error" text @click="createEntityForm = false">ΑΚΥΡΩΣΗ</v-btn>
                                <v-btn color="blue darken-1" text @click="createEntity">ΔΗΜΙΟΥΡΓΙΑ</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
                <!--edit add event-->
                <v-snackbar v-model="updateResponseAllert" timeout="3000">
                    {{updateResponseAllertText}}
                    <template v-slot:action="{ attrs }">
                        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">Κλείσιμο</v-btn>
                    </template>
                </v-snackbar>
            </v-container>
        </v-content>
    </v-app>
</template>
<script>
//@todo update and delete managers
import navigation from "./navigation";
import mixins from "../mixins/permissionsCheck";
export default {
    mixins: [mixins],
    props: ['company'],
    data: () => ({
        headers: [{
                text: 'Επιλογή',
                align: 'start',
                sortable: false,
                value: 'id',
            },
            {
                text: 'Τίτλος',
                align: 'start',
                sortable: false,
                filterable: true,
                value: 'title',
            },
        ],
        showTimeTable: false,
        search: '',
        updateResponseAllertText: '',
        createEntityForm: false,
        updateEntityForm: false,
        updateResponseAllert: false,
        selectedServices: [],
        selectedRows: [],
        services: {},
        company_id: null,
        setEntityForUpdate: [],
        menuUpdate: false,
        colormaskUpdate: '!#XXXXXX',
        entityDialog: false,
        selectedCompany: null,
        companies: [],
        menu: false,
        colormask: '!#XXXXXX',
        entity: {
            title: null,
            description: null,
            color: '#303F9F',
            expertise: null,
            duration: 60
        },
        snackbar: true,
        entities: [],
        alertMessage: [],
        vertical: true,
        alert: true,
        valid: true,
        drawer: true,
        date: new Date().toISOString().substr(0, 10),
        manager: {
            name: '',
            email: '',
            password: '',
            password_confirmation: '',
        },
        managers: [],
        showPassA: false,
        showPassB: false,
        rules: {
            required: value => !!value || 'Required.',
            min: v => v.length >= 8 || 'Min 8 characters',
            emailMatch: () => ('The email and password you entered don\'t match'),
        },
        timetable: [],
    }),
    methods: {
        deleteEntity(id) {
            if (confirm('Διαγραφή Υπηρεσίας;')) {
                axios.post('/entity/' + id + "/delete")
                    .then(function(response) {
                        // handle success
                        this.getEntities();
                    }.bind(this))
                    .catch(function(error) {
                        // handle error
                        console.log(error);
                    })
                    .then(function() {
                        // window.location = '/companies'
                    });
            }
        },
        updatedTimetableValues(value) {
            this.timetable = value;
        },
        copyIcalKey(key) {
            if (key == null) {
                alert('Παρακαλώ επικοινωνήστε με τον Διαχειριστή')
                return;
            }
            /* Get the text field */
            this.$copyText('https://medical.booktool.gr/ical/' + key).then(function(e) {
                alert('To Url για την προσθήκη νέου ημερολογίου έχει αντιγραφεί στο πρόχειρο')
                console.log(e)
            }, function(e) {
                alert('Can not copy')
                console.log(e)
            })
        },
        loadTimeTable(id) {
            var self = this;
            console.log('id')
            console.log(id)
            axios.get('/entities/timetable/' + id)
                .then(function(response) {
                    // handle success
                    console.log(response.data);
                    self.timetable = response.data
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                });
        },
        getCompanies() {
            var self = this;
            axios.get('/companies_json')
                .then(function(response) {
                    // handle success
                    console.log(response.data);
                    self.companies = response.data
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                });
        },
        updateEntity() {
            console.log('create entity');
            var self = this;
            axios.post('/entity/' + self.setEntityForUpdate.id + '/update', {
                    'entity': self.setEntityForUpdate,
                    'services': self.selectedServices,
                    'timetable': self.timetable
                })
                .then(function(response) {
                    // handle success
                    self.updateResponseAllert = true
                    self.updateResponseAllertText = 'Επιτυχής Ενημέρωση';
                    window.scrollTo({
                        top: 0,
                        left: 0,
                        behavior: 'smooth'
                    });
                    console.log(response.data);
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                })
                .then(function() {
                    self.entityDialog = false;
                    self.getEntities()
                });
        },
        createEntity() {
            // var entity =  {
            //      title: this.entity.title,
            //      description: this.entity.description,
            //      color:this.entity.color,
            //      expertise: this.entity.expertise,
            //      duration: this.entity.duration
            //  },
            var self = this;
            axios.post('/entity/create', {
                    company_id: self.selectedCompany,
                    entity: self.entity
                })
                .then(function(response) {
                    // handle success
                    console.log(response.data);
                    self.createEntityForm = false;
                    self.updateResponseAllert = true;
                    self.updateResponseAllertText = 'Επιτυχής Δημιουργία';
                    self.getEntities();
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                })
                .then(function() {
                    self.entityDialog = false;
                    self.getEntities()
                });
        },
        getServices() {
            var self = this;
            // axios.get('/entities/json_format')
            axios.get('/get_all_services')
                .then(function(response) {
                    // handle success
                    self.services = response.data
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                })
                .then(function() {
                    // always executed
                });
        },
        getEntities() {
            var self = this;
            // axios.get('/entities/json_format')
            axios.post('/entities/json_format', {
                    company_id: self.company_id
                })
                .then(function(response) {
                    // handle success
                    console.log('entitieues')
                    console.log(response.data)
                    self.entities = response.data
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                })
                .then(function() {
                    // always executed
                });
        },
        loadEntityServices(setEntityForUpdate) {
            axios.get('/entity/' + this.setEntityForUpdate.id + '/services')
                .then(function(response) {
                    // handle success
                    console.log('entitieues')
                    this.selectedRows = response.data
                    this.selectedServices = response.data
                    self.entities = response.data
                }.bind(this))
                .catch(function(error) {
                    // handle error
                    console.log(error);
                })
                .then(function() {
                    // always executed
                });
        }
    },
    computed: {
        swatchStyleUpdate() {
            const {
                color,
                menu
            } = this
            return {
                backgroundColor: this.setEntityForUpdate.color,
                cursor: 'pointer',
                height: '30px',
                width: '30px',
                borderRadius: menu ? '50%' : '4px',
                transition: 'border-radius 200ms ease-in-out'
            }
        },
        swatchStyle() {
            const {
                color,
                menu
            } = this
            return {
                backgroundColor: this.entity.color,
                cursor: 'pointer',
                height: '30px',
                width: '30px',
                borderRadius: menu ? '50%' : '4px',
                transition: 'border-radius 200ms ease-in-out'
            }
        },
    },
    mounted() {
        if (this.company.id !== undefined) {
            this.company_id = this.company.id;
            this.selectedCompany = this.company.id;
        }
        this.getServices();
        this.getEntities();
        this.getCompanies();
    },
}
</script>
<style lang='scss'>
/*@import '~@fullcalendar/core/main.css';*/
/*@import '~@fullcalendar/daygrid/main.css';*/
</style>