<template>
  <div>
    <div id='start' class="container">
        <div class="container">
          <div class="row">
            <div class="col-md-12">

              <table class="table">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Υπηρεσία</th>
                  <th scope="col">Δικαιολογιτικό</th>
                  <th scope="col">Ώρα</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="a in appointments" :key="a.id">
                  <th scope="row">{{a.id}}</th>
                  <td>{{a.entities.title}}</td>
                  <td>{{a.title}}</td>
                  <td>{{a.start_date}} - {{a.start_time}}</td>
                  <!-- <td ><a @click="deleteAppointment(a.id)" href="#"><i class="fas fa-trash"></i></a> </td> -->
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>

import datePicker from 'vue-bootstrap-datetimepicker';
import Datepicker from 'vuejs-datepicker';
import {en, el} from 'vuejs-datepicker/dist/locale'

// Import date picker css
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
import VueTimepicker from "vue2-timepicker/src";

export default {
  props: ['auth', 'appointments'],
  components: {

  },

  data: () => ({
    user: null,

  }),
  methods: {
    deleteAppointment(id){
      // διαγραφή appointment
      axios.post('/booking/history/deleteAppointment', {'appointment': id})
          .then(function (response) {


             location.reload();

          }.bind(this))
          .catch(function (error) {
            console.log(error);
          })
    },
    getUser() {
      axios.get('/userisonline')
          .then(function (response) {

            this.user = response.data;
            if (this.user != '') {
              this.email = this.user.email;



            }
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          })
    },
  },

  created(){
   },
  mounted() {

    this.getUser();

  }
}
</script>
<style>
body {
  /*min-height: 1500px;*/
}

.vdp-datepicker__calendar {
  width: 100% !important;
}

span.cell.day {
  border: solid 0.1px #f9f9f9;
}

.vdp-datepicker__calendar {
  border: solid 1px #eee
}

span.cell.day.selected {
  color: #fff;
}

.vdp-datepicker__calendar {
  border: none !important;
}

/*steper*/
span.badge {
  border-radius: 50%;
}

ul.nav.justify-content-center.stepper li + li::before {
  width: 35px;
  height: 1px;
  position: absolute;
  background: #047bfe;
  top: 21px;
  content: '';
  left: -16px;
  z-index: -8;
}

ul.nav.justify-content-center.stepper li {
  position: relative;
}

a.nav-link span {
  background: #ccc;
  width: 18px;
}

a.nav-link.active span {
  background: #007bff;
}

button.btn.timebutton {
  background: #eee;
  border-radius: 0;
  margin: 5px;
  width: 68px;
  border: solid 1px #ddd;
}
.btn.ipiresiaBtn{
  background: #eee;
  border-radius: 0;
  margin: 5px;
  border: solid 1px #ddd;
}

button.btn.timebutton:hover , .btn.ipiresiaBtn:hover{
  background: #44bbdd;
  color: #fff;
}

.cursor {
  cursor: pointer;
}

button.btn.timebutton:focus, button.btn.timebutton:active , .btn.ipiresiaBtn {
  background: #44bcdc;
}

.panel {
  border: solid 1px #eee;
  box-shadow: 0 0 4px #bdbdbd;
}
span.btn.timebutton.danger {
  background: red;
  border-radius: 0;
}

button.btn.timebutton.danger {
  background: red;
  position: relative;
}
.btn.timebutton.danger{
  position: relative;}
.btn.timebutton.danger:before {top: 5px; content: "";width: 2px;height: 25px;position: absolute;background: rgba(0, 0, 0, 0.5);transform: rotate(48deg);left: 50%;margin-right: auto;}

.btn.timebutton.danger:after {top: 5px; content: "";width: 2px;height: 25px;position: absolute;background: rgba(0, 0, 0, 0.5);transform: rotate(-48deg);left: 50%;margin-right: auto;}
span.btn.timebutton.danger {
  background: red;
  border-radius: 0;
  margin: 5px;
  width: 68px;
}
.vdp-datepicker__calendar .disabled {
  color: #848383;
  cursor: default;
}
span.cell.day {
  border: solid 0.1px #dedede;
}
</style>
