<template>
  <v-app id="keep">
    <navigation ref="reloadPendings"></navigation>
    <v-content>
      <v-container fluid>

        <v-row>
                    <v-col v-if="can('CreateManagers') && !newManager" cols="12" class="text-right">
                      <v-btn @click="newManager = true" right class="mx-2" fab dark small color="primary"><v-icon dark>mdi-plus</v-icon></v-btn>
                    </v-col>
          <!--          <v-col v-if="can('CreateManagers') && newManager" cols="12" class="text-right">-->
          <!--            <v-btn @click="newManager = false" right class="mx-2" fab dark small color="red"><v-icon dark>mdi-minus</v-icon></v-btn>-->
          <!--          </v-col>-->

                    <v-col cols="12">
                      <v-row>
                        <v-col cols="12" v-if="can('CreateManagers') && newManager">
                          <v-card class="mx-auto" min-height="380px">
                            <v-card-title dark class="blue ">
                              Δημιουργία νέου Διαχειριστή
                            </v-card-title>
                            <v-card-text>
                              <v-row>
                                <v-col cols="4">
                                  <v-form v-model="valid">
                                    <v-text-field v-model="manager.name" label="Όνομα" required></v-text-field>
                                    <v-text-field v-model="manager.email" label="E-mail" required></v-text-field>


                                    <v-select :items="['manager']" v-model="manager.role" label="Ρόλος"></v-select>

                                    <v-text-field v-model="manager.password" :append-icon="showPassA ? 'mdi-eye' : 'mdi-eye-off'"
                                                  :rules="[rules.required, rules.min]"
                                                  :type="showPassA ? 'text' : 'password'"
                                                  name="input-10-1"
                                                  label="Κωδικός"
                                                  hint="Τουλάχιστον 8 Χαρακτήρες"
                                                  counter
                                                  @click:append="showPassA = !showPassA"
                                    ></v-text-field>

                                    <v-text-field v-model="manager.password_confirmation"
                                                  :append-icon="showPassB ? 'mdi-eye' : 'mdi-eye-off'"
                                                  :rules="[rules.required, rules.min]"
                                                  :type="showPassB ? 'text' : 'password'"
                                                  name="input-10-1"
                                                  label="Επιβεβαίωση Κωδικού"
                                                  hint="Τουλάχιστον 8 Χαρακτήρες"
                                                  counter
                                                  @click:append="showPassB = !showPassB"
                                    ></v-text-field>
                                  </v-form>
                                </v-col>
                                <v-col cols="4">
                                  Permissions
                                  <v-checkbox v-model="permissions" label="Δημιουργία Χρηστών" value="CreateManagers" hide-details></v-checkbox>
                                  <v-checkbox v-model="permissions" label="Επεξεργασία Χρηστών" value="EditManagers" hide-details></v-checkbox>
                                  <v-checkbox v-model="permissions" label="Δημιουργία " value="CreateEntity" hide-details></v-checkbox>
                                  <v-checkbox v-model="permissions" label="Επεξεργασία" value="EditEntity" hide-details></v-checkbox>
                                  <v-checkbox v-model="permissions" label="Προβολή " value="ViewEntites" hide-details></v-checkbox>
                                  <v-checkbox v-model="permissions" label="Ιστορικότητα Αλλαγών" value="ViewAudits" hide-details></v-checkbox>

                                </v-col>
                              </v-row>
                              <v-btn color="blue darken-2" dark @click="createManager">ΔΗΜΙΟΥΡΓΙΑ</v-btn>
                            </v-card-text>
                          </v-card>

                        </v-col>
                      </v-row>
                    </v-col>


          <!-- edit manager -->

          <v-col :cols="(editManager.id != undefined)?6:12">
            <v-card class="mx-auto" min-height="380px">
              <v-card-title dark class=" ">
                Διαχειριστές
              </v-card-title>
              <v-card-text>
                <v-simple-table>
                  <template v-slot:default>
                    <thead>
                    <tr>
                      <th class="text-left">Όνομα</th>
                      <th class="text-left">Εταιρία</th>
                      <th class="text-left">E-mail</th>
                      <th class="text-left">Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in managers" :key="item.id">
                      <td>{{ item.name }}</td>
                      <td>{{ (item.company && item.company.name != undefined) ? item.company.name : '.......' }}</td>
                      <td>{{ item.email }}</td>
                      <td>
                        <v-btn
                            @click="editManager = item; getUserEntities(); getUserCompanies();"
                            color="primary"
                            fab
                            small
                            dark
                            elevation="0"
                        >
                          <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                      </td>
                    </tr>
                    </tbody>

                  </template>
                </v-simple-table>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="6" v-if="editManager.id != undefined">

            <v-card class="mx-auto">
              <v-card-title dark class="editManager ">
                Δικαιώματα
              </v-card-title>
              <v-btn
                  @click="editManagerDialog = false; editManager={}"
                  small
                  absolute
                  top
                  right
                  fab
              >
                <v-icon>
                  mdi-close
                </v-icon>
              </v-btn>
<!--            <v-treeview-->
<!--                v-model="selectedEntities"-->
<!--                selectable-->
<!--                selection-type="leaf"-->
<!--                :items="companies"-->
<!--                item-text="title"-->
<!--                item-id="entities.id"-->
<!--                item-children="entities"-->
<!--            ></v-treeview>-->
              <v-expansion-panels>

                <v-expansion-panel v-for="(c,i) in companies" :key="i">
                  <v-expansion-panel-header>
                    {{c.title}}
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-checkbox v-for="e in c.entities" :key="e.id"
                        v-model="selectedEntities"
                        :label="e.title"
                        :value="e.id"
                    ></v-checkbox>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
              <v-btn color="blue darken-2 ml-5 mb-5" dark @click="updateManager">ΕΝΗΜΕΡΩΣΗ</v-btn>
            </v-card>

          </v-col>
        </v-row>
        <!--edit add event-->
      </v-container>
    </v-content>

  </v-app>
</template>

<script>


//@todo update and delete managers
import navigation from "./navigation";
import mixins from '../mixins/permissionsCheck'

export default {
  mixins: [mixins],

  data: () => ({
    permissions: [],
    snackbar: true,
    alertMessage: [],
    vertical: true,
    selectedEntities: [],
    selectedCompanies: [],
    selectedPermisions: [],
    newManager: false,

    editManagerDialog: false,
    editManager: {},
    entities: [],
    companies: [],

    alert: true,
    valid: true,
    drawer: true,
    date: new Date().toISOString().substr(0, 10),
    items: [
      {href: '#', icon: 'mdi-chart-bubble', text: 'Διαχείρηση'},
      {href: '#', icon: 'mdi-bicycle-basket', text: 'Ραντεβού'},
      {href: '#', icon: 'mdi-account', text: 'Επισκέπτες'},
      {href: '#', icon: 'mdi-wallet-giftcard', text: 'Στατιστικά'},
      {href: '#', icon: 'mdi-shape', text: 'Σημεία Ραντεβού'},
      {href: '#', divider: true},

      {href: '#', icon: 'lightbulb_outline', text: 'Προφίλ'},
      {href: '#', icon: 'mdi-account', text: 'Χρήστες'},

      {href: '#', divider: true},
      {href: '#', icon: 'settings', text: 'Εταιρία'},
      {href: '#', icon: 'chat_bubble', text: 'Διαγραμμένα Ραντέβου'},
    ], //menu
    manager: {
      role: 'manager',
      name: '',
      email: '',
      password: '',
      password_confirmation: '',
    },
    managers: [],
    showPassA: false,
    showPassB: false,
    rules: {
      required: value => !!value || 'Required.',
      min: v => v.length >= 8 || 'Min 8 characters',
      emailMatch: () => ('The email and password you entered don\'t match'),
    },
  }),
  methods: {

    updateManager() {
      var self = this;
      var data = {
        entities: this.selectedEntities,
        companies: this.selectedCompanies,
        permisions: this.selectedPermisions
      }
      axios.post('/company/users/' + self.editManager.id, data)
          .then(function (response) {
            // handle success
            console.log(response.data)
            self.selectedCompanies = [];
            self.selectedEntities = [];
            self.editManager = {};
            self.editManagerDialog = false;
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .then(function () {
            self.getManagers();
          });
    },
    createManager() {
      console.log('create entity');
      var self = this;
      axios.post('/company/managers/create', {manager: self.manager, permissions: self.permissions})
          .then(function (response) {
            // handle success
            console.log(response.data);
            if (response.data.error !== undefined) {
              self.snackbar = true;
              var alertMessage = response.data.error;
              for (var a = 0; a < alertMessage.length; a++) {
                self.$toastr('error', alertMessage[a], 'Βρέθηκε το παρακάτω πρόβλημα')
              }
            } else {
              self.$toastr('info', 'Ο Χρήστης  Δημιουργήθηκε', response.data.name)
            }
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .then(function () {
            self.getManagers();
            self.newManager = false;
          });
    },
    getEntities() {
      var self = this;
      // axios.get('/entities/json_format')
      axios.post('/entities/json_format', {company_id: self.company_id})
          .then(function (response) {

            self.entities = response.data
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .then(function () {
            // always executed
          });
    },
    getUserEntities() {
      axios.get('/company/users/' + self.editManager.id + '/entitiesId')
          .then(function (response) {
            // handle success

            this.selectedEntities = response.data;

          }.bind(this))
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .then(function () {

          });
    },
    getUserCompanies() {
      axios.get('/company/users/' + self.editManager.id + '/companiesId')
          .then(function (response) {
            // handle success

            console.log('response.data')
            console.log(response.data)
            this.selectedCompanies = response.data;

          }.bind(this))
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .then(function () {

          });
    },
    getManagers() {
      self = this;
      axios.get('/company/users')
          .then(function (response) {
            // handle success
            console.log(response.data);
            self.managers = response.data;

          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .then(function () {

          });
    },
    getCompanies() {
      var self = this;
      axios.get('/companies_json')
          .then(function (response) {
            // handle success
            console.log('company_json');
            console.log(response.data);
            self.companies = response.data
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          });
    },

  },
  mounted() {

    this.getCompanies();
    this.getManagers();
    this.getEntities();
  },
}
</script>

<style lang='scss'>

/*@import '~@fullcalendar/core/main.css';*/
/*@import '~@fullcalendar/daygrid/main.css';*/

</style>
