<template>
  <v-app id="keep">
    <navigation ref="reloadPendings" v-on:pendings="[]" v-on:showPendings="[]"></navigation>

    <v-content>
      <v-container fluid>
        <v-row>
          <v-col cols="12">


            <v-btn
                right
                @click="newService"
                color="primary"
                dark
                class="mb-2 flat-right"
                v-bind="attrs"
                v-on="on"
            >
              ΝΕΑ ΚΑΤΑΧΩΡΗΣΗ
            </v-btn>

            <v-simple-table>
              <template v-slot:default>
                <thead>
                <tr>
                  <th class="text-left">Τίτλος</th>
                  <th class="text-left">Διαγραφή</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in services" :key="item.name">
                  <td @click="editService(item.id)">{{ item.title }}</td>
                  <td>  <v-icon small @click="deleteService(item)">mdi-delete</v-icon></td>
                </tr>
                </tbody>
              </template>
            </v-simple-table>




          </v-col>
        </v-row>
        <!--edit add event-->


      </v-container>
    </v-content>

  </v-app>
</template>

<script>


//@todo update and delete managers
import navigation from "./navigation";
import mixins from "../mixins/permissionsCheck";

export default {
  mixins: [mixins],
  props: ['company'],
  data: () => ({
    files: [],
    services: [],
    headers: [{
      text: 'Title',
      align: 'start',
      sortable: true,
      value: 'title',
    },{
      text: 'Delete',
      align: 'end',
      sortable: true,
      value: 'delete',
    }],
  }),

  methods: {

    editService(id) {

      window.location = '/services/' + id;
    },
    getServices() {
      var self = this;
      axios.get('/get_all_services')
          .then(function (response) {
            // handle success
            console.log(response.data);
            self.services = response.data
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          });
    },
    newService() {
      window.location = '/services/new'
    },
    deleteService(service) {
      var result = confirm("Θέλετε να διαγραφεί το δικαιολογιτικό με τίτλο: " + service.title);
      if (result) {
        axios.delete('/service/' + service.id)
            .then(function (res) {
              this.getServices();
            }.bind(this))
            .catch(function (err) {
              console.log(err);
            });
      }
    }
  },
  mounted() {

    this.getServices();
  },
}
</script>

<style lang='scss'>

/*@import '~@fullcalendar/core/main.css';*/
/*@import '~@fullcalendar/daygrid/main.css';*/

</style>
