<template>
  <v-app id="keep">
    <navigation ref="reloadPendings" v-on:pendings="[]" v-on:showPendings="[]"></navigation>
    <v-content>
      <v-container fluid>
        <v-row>
          <v-col cols="12">
            <v-text-field label="Τίτλος" v-model="form.title"  hide-details="auto"></v-text-field>
            <v-textarea
                name="input-7-1"
                filled
                label="Περιγραφή"
                auto-grow
                v-model="form.homeDescription"
                :value="form.homeDescription"
            ></v-textarea>

          </v-col>
        </v-row>
{{settings}}
        <v-row>
          <v-col cols="12">
            <v-switch
                v-model="form.live"
                label='Live'
            ></v-switch>
          </v-col>
          <v-col cols="12" v-if="form.live">
            Σύστημα Διασύνδεσης LIVE
            <v-text-field label="Client Id" v-model="form.clientId"  hide-details="auto"></v-text-field>
            <v-text-field label="Client Secret" v-model="form.clientSecret"  hide-details="auto"></v-text-field>
            <v-text-field label="Url Authorize" v-model="form.urlAuthorize"  hide-details="auto"></v-text-field>
            <v-text-field label="Url Access Token" v-model="form.urlAccessToken"  hide-details="auto"></v-text-field>
            <v-text-field label="Url Resource Owner Details" v-model="form.urlResourceOwnerDetails"  hide-details="auto"></v-text-field>
            <v-text-field label="Redirect Uri" v-model="form.redirectUri"  hide-details="auto"></v-text-field>


          </v-col>
          <v-col cols="12" v-if="!form.live">
            Σύστημα Διασύνδεσης DEMO ΠΕΡΙΒΑΛΛΟΝ
            <v-text-field label="Client Id" v-model="form.devClientId"  hide-details="auto"></v-text-field>
            <v-text-field label="Client Secret" v-model="form.devClientSecret"  hide-details="auto"></v-text-field>
            <v-text-field label="Url Authorize" v-model="form.devCrlAuthorize"  hide-details="auto"></v-text-field>
            <v-text-field label="Url Access Token" v-model="form.devCrlAccessToken"  hide-details="auto"></v-text-field>
            <v-text-field label="Url Resource Owner Details" v-model="form.devCrlResourceOwnerDetails"  hide-details="auto"></v-text-field>
            <v-text-field label="Redirect Uri" v-model="form.devCedirectUri"  hide-details="auto"></v-text-field>
          </v-col>


          <v-col cols="12">
            <v-tabs v-model="tab" background-color="grey accent-4" centered dark icons-and-text>
              <v-tabs-slider></v-tabs-slider>
              <v-tab href="#tab-1">SMTP</v-tab>
              <v-tab href="#tab-2">MAIL</v-tab>
              <v-tab href="#tab-3">ΚΕΙΜΕΝΑ ΑΡΧΙΚΗΣ</v-tab>
            </v-tabs>
            <v-tabs-items v-model="tab">
              <v-tab-item
                  :key="1"
                  :value="'tab-' + 1"
              >
                <v-card flat>
                  <v-card-text>

                    <v-text-field label="Client Id" v-model="form.devClientId"  hide-details="auto"></v-text-field>
                    <v-text-field label="Client Secret" v-model="form.devClientSecret"  hide-details="auto"></v-text-field>
                    <v-text-field label="Url Authorize" v-model="form.devCrlAuthorize"  hide-details="auto"></v-text-field>
                    <v-text-field label="Url Access Token" v-model="form.devCrlAccessToken"  hide-details="auto"></v-text-field>
                    <v-text-field label="Url Resource Owner Details" v-model="form.devCrlResourceOwnerDetails"  hide-details="auto"></v-text-field>
                    <v-text-field label="Redirect Uri" v-model="form.devCedirectUri"  hide-details="auto"></v-text-field>

                  </v-card-text>
                </v-card>
              </v-tab-item>

              <v-tab-item
                  :key="2"
                  :value="'tab-' + 2"
              >
                <v-card flat>
                  <v-card-text>Some dtext</v-card-text>
                </v-card>
              </v-tab-item>
            </v-tabs-items>

          </v-col>
          <v-col>
            <v-btn @click="update">ΕΝΗΜΕΡΩΣΗ</v-btn>
          </v-col>

        </v-row>
        <v-snackbar
            v-model="alert"
            :timeout="-1"
            :value="true"
            color="blue-grey"
            absolute
            right
            rounded="pill"
            top
        >
          Η Σελίδα ενημερώθηκε!
        </v-snackbar>
      </v-container>
    </v-content>

  </v-app>
</template>

<script>


//@todo update and delete managers


import { quillEditor } from 'vue-quill-editor'

export default {

  mixins: [ ],
  props: ['settings'],
  data: () => ({
    alert: false,
    tab: null,
    form : {
      'title' : null,
      'homeDescription' : null,
      'clientId' : null,
      'clientSecret' : null,
      'urlAuthorize' : null,
      'urlAccessToken' : null,
      'urlResourceOwnerDetails' : null,
      'redirectUri' : null,
    },
  }),

  methods: {

    update() {
      axios.put('/settings', this.form)
          .then(function () {
              this.alert = true;
           }.bind(this))
          .catch(function (err) {
            console.log(err);
          });
    }
  },
  mounted() {
    this.form = this.settings;
  }
}
</script>

<style lang='scss'>

/*@import '~@fullcalendar/core/main.css';*/
/*@import '~@fullcalendar/daygrid/main.css';*/

</style>
