<template>
  <div>
    <v-row>
      <v-col cols="12" v-for="(d,formKey) in form" :key="formKey">
        <v-row>

          <v-col cols="2" class="mt-4">{{ d.day }}</v-col>
          <v-col cols="10">
            <v-row no-gutters v-for="(h , hKey) in form[formKey].hours" :key="hKey">
              <v-col cols="4" class="pl-4">

                <v-select v-model="form[formKey].hours[hKey].open_at" :items="hours" menu-props="auto" label="Select"
                          hide-details prepend-icon="mdi-clock" single-line></v-select>
              </v-col>
              <v-col cols="4" class="pl-4">
                <v-select v-model="form[formKey].hours[hKey].close_to" :items="hours" menu-props="auto" label="Select"
                          hide-details prepend-icon="mdi-clock" single-line></v-select>
              </v-col>
              <v-col cols="2" class="pl-4">
                <v-text-field
                    label="Θέσεις Εξυπηρέτησης"
                    v-model="form[formKey].hours[hKey].slots"
                    hide-details="auto"
                ></v-text-field>
              </v-col>
              <v-col cols="1" >
                <v-btn  @click="addHoursToDays(formKey)" icon color="green">
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
                <v-btn  @click="removeHoursFromDays(formKey, hKey)" icon color="red">
                  <v-icon>mdi-minus</v-icon>
                </v-btn>
              </v-col>

            </v-row>
            <!--          </v-col>-->

            <!--          <v-col cols="4">-->
            <!--&lt;!&ndash;            <v-select v-model="form" :items="hours" menu-props="auto" label="Select" hide-details prepend-icon="mdi-clock" single-line></v-select>&ndash;&gt;-->
          </v-col>
        </v-row>
      </v-col>

      <v-col>
        <v-row>

          <v-col cols="3" class="mt-0">
            <v-select class="pt-0" v-model="newDay.day" :items="days" item-text="day" item-value="number" menu-props="auto" label="Select"
                      hide-details prepend-icon="mdi-calendar" single-line></v-select>
          </v-col>
          <v-col cols="8">
            <v-row no-gutters v-for="(h , hKey) in form[0].hours" :key="hKey">
              <v-col cols="4" class="pl-4">

                <v-select v-model="newDay.open_at" :items="hours" menu-props="auto" label="Select"
                          hide-details prepend-icon="mdi-clock" single-line></v-select>
              </v-col>
              <v-col cols="4" class="pl-4">
                <v-select v-model="newDay.close_to" :items="hours" menu-props="auto" label="Select"
                          hide-details prepend-icon="mdi-clock" single-line></v-select>
              </v-col>
              <v-col cols="2" class="pl-4">
                <v-text-field
                        label="Θέσεις Εξυπηρέτησης"
                        v-model="newDay.slots"
                        hide-details="auto"
                ></v-text-field>
              </v-col>
              <v-col cols="2">
                <v-btn @click="addNewDay()">
                  ΠΡΟΣΘΗΚΗ
                </v-btn>
              </v-col>
            </v-row>
            <!--          </v-col>-->

            <!--          <v-col cols="4">-->
            <!--&lt;!&ndash;            <v-select v-model="form" :items="hours" menu-props="auto" label="Select" hide-details prepend-icon="mdi-clock" single-line></v-select>&ndash;&gt;-->
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>


export default {
  props: ['form'],


  data: () => ({

    newDay: {
      day: 1,
      slots: 1,
      open_at: 1,
      close_to: 1,
    },
    hours: [],
    days: [
      {'number': 1, 'day': 'Δευτέρα'},
      {'number': 2, 'day': 'Τρίτη'},
      {'number': 3, 'day': 'Τετάρτη'},
      {'number': 4, 'day': 'Πέμπτη'},
      {'number': 5, 'day': 'Παρασκευή'},
      {'number': 6, 'day': 'Σάββατο'},
      {'number': 7, 'day': 'Κυριακή'},
    ]
  }),
  methods: {
    addHoursToDays(key) {
      this.form[key]['hours'].push({open_at: null, close_to: null, slots: 1})
    },
    removeHoursFromDays(dKey, hKey) {
      if (this.form[dKey]['hours'].length < 1) {
        return;
      }
      this.form[dKey]['hours'].splice(hKey, 1)
      this.$forceUpdate();
    },
    addNewDay(){

      for (var a = 0; a < this.days.length; a++){
        if(this.days[a].number == this.newDay.day){
          var selectedDayName = this.days[a].day;
        }
      }

      this.form.push({
        "day_number": this.newDay.day,
        "day": selectedDayName,
        "hours": [
          {
            "slots": this.newDay.slots,
            "open_at": this.newDay.open_at,
            "close_to": this.newDay.close_to
          }
        ]
      })
    }
  },
  watch: {
    form: {
      // This will let Vue know to look inside the array
      deep: true,

      // We have to move our method to a handler field
      handler(){
        this.$emit('updatedTimetableValues', this.form)

      }

    },
  },
  mounted() {

    var x = 15; //minutes interval
    var times = []; // time array
    var tt = 0; // start time
    var ap = ['ΠΜ', 'ΜΜ']; // AM-PM

  //loop to increment the time and push results in array
    for (var i = 0; tt < 24 * 60; i++) {
      var hh = Math.floor(tt / 60); // getting hours of day in 0-24 format
      var mm = (tt % 60); // getting minutes of the hour in 0-55 format
      times[i] = ("0" + hh).slice(-2) + ':' + ("0" + mm).slice(-2); // pushing data in array in [00:00 - 12:00 AM/PM format]
      tt = tt + x;
    }
    this.hours = times;


    this.$forceUpdate();
  }
}
</script>

